[2014-12-14 22:10] nehanarkhede opened #1 "Embedded storage engine"
Current schema registry prototype has a limited capability RocksDB engine that hasn't been unit tested. Stopped at a point where I ran into core dump issues possibly due to gcc issues on my Mac. This needs testing on Linux. This issue includes getting the RocksDb storage engine to work with unit tests

[2014-12-14 22:15] nehanarkhede opened #2 "Avro compatibility"
The schema registry prototype includes accepting string schemas and storing those. This issue includes adding the capability of accepting only Avro JSON schemas to the schema registry and registering schemas only if schemas are backwards compatible. Custom compatibility is tracked in a separate issue.

[2014-12-14 22:18] nehanarkhede opened #3 "Support for schema metadata"
Schema metadata includes compatibility, validation, deprecation - https://sites.google.com/a/confluent.io/product/schema-registration#TOC-1.6-Common-configuration-settings

This issue includes making sure schema metadata can be set at a global as well as per-schema level through the appropriate REST endpoints as defined in the wiki above. Also includes figuring out the storage of schema metadata i

[2014-12-14 22:19] nehanarkhede opened #4 "Add deprecate schema support"
Add deprecate schema support to the schema registry.

[2014-12-14 22:24] nehanarkhede opened #5 "Add master/slave awareness"
Add master/slave awareness to the schema registry by starting with manual master assignment. This is a predecessor to a more sophisticated failover policy for the schema registry https://sites.google.com/a/confluent.io/product/schema-registration#TOC-8.-Kafka-log-RocksDB-storage-with-auto-failover

Here, one schema registry instance in a cluster will be assigned as the master node through configur

[2014-12-14 22:25] nehanarkhede opened #6 "Fix schema registry REST application configuration"
Currently, the schema registry prototype has hardcoded configuration. Fix to use the wired in configuration. This is a trivial task. Can be an introductory issue for someone :)

[2014-12-14 22:30] nehanarkhede opened #7 "Add multi colo setup support"
Multi colo setup for schema registry includes setting up a mirror maker for the schema registry log topic between the schema registry cluster in the master colo to the ones in the slave colos. Before setting up mirror maker, the admin also needs to delete the schema registry log topic from the slave schema registry cluster, if one exists. It will be good to have scripts and documentation for this.

[2014-12-14 22:31] nehanarkhede opened #8 "Add integration tests to schema registry"
This issue includes adding integration tests to schema registry similar to the ones we have in kafka-rest

[2014-12-14 23:22] nehanarkhede opened #9 "Add key/value schema awareness"
Every topic can have a key schema or value schema registered under the topic. Currently the schema registry prototype doesn't differentiate between key and value schemas - for example, POST /topics/<topic>/value/versions, POST /topics/<topic>/key/versions both do the same thing.

[2014-12-16 20:03] nehanarkhede opened #10 "Add proper log4j logging"
The schema registry prototype currently doesn't have proper log4j logging. This issue includes fixing that

[2014-12-17 21:38] nehanarkhede opened #12 "Make the register call wait until Kafka store thread has applied the update"
Currently, schema registry register returns the moment the message is synchronously published to the Kafka topic. But that doesn't guarantee that the schema is ready to be served since it may not have been applied by the background thread to the embedded store.

[2014-12-17 22:29] #10 closed, assigned to nehanarkhede

[2014-12-18 02:08] granders opened #14 "Clean up flags in Schema.java"
The "compatible" and "latest" boolean flags in Schema class should probably be removed - these values can be derived.

[2014-12-18 02:12] granders opened #15 "Use a key serializer in KafkaSchemaRegistry"
Methods such as register, get, getAll, getAllVersions manually serialize keys with logic like:
    String keyEarliestVersion = topic + "," + earliestVersion;
    String keyLatestVersion = topic + "," + latestVersion;

This should probably be done with a key serializer.

[2014-12-18 02:16] granders opened #16 "Make keys comparable"
Keys in the Store interface are implicitly comparable (getAll method promises to return keys within a specific range), but there is currently no mechanism for ordering keys.

[2014-12-18 02:29] granders opened #17 "Move default values in SchemaRegistryRestConfiguration to an external config file"
Rather than defining these defaults in code, better to put these values in an external config file.

[2014-12-18 17:58] #12 closed, assigned to nehanarkhede

[2014-12-19 02:34] #14 closed, assigned to nehanarkhede

[2014-12-19 23:18] granders opened #21 "Update Resource classes to reflect API changes in wiki"
We made some changes recently to the REST API - change appropriate classes to reflect this.

[2014-12-20 00:40] #6 closed, assigned to granders

[2014-12-22 19:40] granders opened #23 "fix /topics"
Currently, /topics returns a list of the form
["topic/subtype", ...]

instead of listing all Kafka topics.

[2014-12-29 21:31] #8 closed, assigned to nehanarkhede

[2014-12-30 00:09] #5 closed, assigned to junrao

[2014-12-30 18:48] junrao opened #27 "Add cached schema registry client"
For efficiency, need to use the identity map on schema string.

[2014-12-30 18:59] junrao opened #28 "Get canonical avro string from an Avro schema"
The canonical string form of an Avro schema strips off docs and aliases. schema.toString() doesn't seem to be canonical (e.g., reordering fields give different strings). We may need to implement a full canonical string representation of an Avro schema ourselves.

[2014-12-30 19:17] nehanarkhede opened #29 "Change schema registry APIs to use subjects"
Changed the APIs to refer to subjects as discussed last week. Also added schema retrieval using a globally unique id. The id is allocated on the master by allocating a batch of ids from zookeeper and using those to assign to schemas during registration.

[2014-12-30 19:29] #21 closed, assigned to nehanarkhede

[2014-12-30 19:30] #17 closed, assigned to granders

[2014-12-30 19:30] #9 closed, assigned to granders

[2014-12-30 19:31] #16 closed, assigned to nehanarkhede

[2014-12-30 19:32] #23 closed, assigned to nobody

[2014-12-31 01:02] #29 closed, assigned to nehanarkhede

[2014-12-31 18:13] #2 closed, assigned to junrao

[2015-01-01 02:02] nehanarkhede opened #34 "RegisterSchemaForwardingAgent should not be part of the SchemaRegistry interface"
This is entirely an implementation detail of our schema registry that should not be leaked in the interface. I had mentioned this in the review for #2 but we missed it during review and checkin

[2015-01-03 01:19] #15 closed, assigned to nehanarkhede

[2015-01-07 18:51] junrao opened #36 "close resources when shutting down the schema registry server"
Now that we have the clean shutdown support in rest utils (https://github.com/confluentinc/rest-utils/pull/2), we can add the shutdown hook in schema registry server to close resources cleanly.

We also need to add the signal handler in Main so that we can shutdown the server cleanly on ctrl-C.

[2015-01-08 01:49] #3 closed, assigned to granders

[2015-01-09 01:03] granders opened #37 "Add REST endpoint for compatibility check"
Spec calls for REST endpoint to allow compatibility check, but this is not yet implemented.

[2015-01-13 18:28] #4 closed, assigned to granders

[2015-01-13 19:04] nehanarkhede opened #40 "Review error codes and ensure we are consistent with the error code style used in all our REST servers"
Kafka rest follows a particular style for error codes where it always sends error codes for all HTTP responses that are sent with HTTP error codes 400 or 500. Let's ensure we do the same for schema registry REST as well.

[2015-01-14 19:15] Ishiihara opened #41 "Schema Registry should create _schemas topic automatically with desired replication factors"
_schemas topic is used to store all schema registry information which is critical. However, it may not exist when the schema registry starts. Instead of manually create that topic, we should let schema registry to automatically create _schema topic with desired replication factor when it starts. The desired replication factor can be chosen as min(num_brokers, 3).

[2015-01-15 18:32] ewencp opened #44 "Clean up dependencies"
It looks like we have some extra dependencies that aren't actually required. At a minimum, I see Jersey, which should be pulled in transitively via rest-utils. In order to generate binary packages as efficiently as possible we should get rid of any dependencies that aren't strictly required and aren't provided transitively by other dependencies.

[2015-01-20 22:19] granders opened #48 "Update API"
Update API to reflect today's discussion. We decided that HTTP POST method is legitimately used to make queries when data in the message body is required. The argument against using GET was that passing message body data is uncommon and may not be supported in some http libraries.

Change compatibility check:
- Add support for POST /compatibility/subjects/<subject>/versions/<version>
  schema stri

[2015-01-21 00:39] #36 closed, assigned to junrao

[2015-01-21 01:42] #37 closed, assigned to granders

[2015-01-21 19:36] junrao opened #52 "implement an AvroMessageFormatter for kafka-console-consumer"
We need to implement an AvroMessageFormatter that understands our avro serialization format and generate json in the output. This will be useful for testing and debugging.

[2015-01-21 19:40] junrao opened #53 "implement an AvroMessageReader for kafka-console-producer"
We need to implement an AvroMessageReader so that we can send avro data in json through kafka-console-producer. This is a nice-to-have and is probably less important than AvroMessageFormatter for kafka-console-consumer.

[2015-01-21 23:58] junrao opened #54 "timeout is not enfoced accurately in KafkaStoreReaderThread.waitUntilOffset()"
We need to recalculate the timeout every time await() returns.

[2015-01-22 00:00] granders opened #55 "id - change long to int"
Using int for id gives enough possible schemas without the extra 4 bytes of overhead incurred by using long.

[2015-01-22 00:14] junrao opened #56 "KafkaSchemaRegistry.nextSchemaIdCounterBatch() needs to use conditional updates to ZK"
Currently, it's possible for two clients, each reads the same value in ZK and reserves the same chunk of values.

[2015-01-22 18:35] #55 closed, assigned to granders

[2015-01-22 20:55] #41 closed, assigned to junrao

[2015-01-22 22:11] #34 closed, assigned to junrao

[2015-01-26 16:59] #27 closed, assigned to Ishiihara

[2015-01-26 22:13] nehanarkhede opened #60 "Skip Kafka while building the avro-serializer package"

[2015-01-26 22:15] #44 closed, assigned to nobody

[2015-01-27 16:54] junrao opened #62 "Simplifying the request in registering schemas"
Currently, we use the following http body in the registering schema request.
'{"schema": "{\"type\": \"string\"}"}'

Now that we don't support deprecation, we can probably just simplify it to a string (that contains the schema).

[2015-01-27 19:37] granders opened #64 "schema request result format"
When fetching a schema by id, it doesn't make sense to return 'version'.

Also note that the 'name' returned when fetching by id will be the name of one of the subjects used when registering the schema.

Fetching a schema by subject/version gives you data in this format:
e.g. GET /subjects/geoff/versions/1
{u'id': 0,
 u'name': u'geoff',
 u'schema': u'{"type":"record","name":"myrecord","fields":[{"

[2015-01-27 19:45] granders opened #65 "ClientErrorExeption in *Resource classes"
Several *Resource.java files throw exceptions of the form:
throw new ClientErrorException(Response.Status.INTERNAL_SERVER_ERROR, e);

ClientErrorException does additional validation to make sure the response status is in the right family -
in our case, this validation fails and causes an additional exception to be thrown because we're instantiating a ClientErrorException with a server error respon

[2015-01-27 20:11] junrao opened #66 "avoid duplicating the Schema class in both the client and the server"
The reason that the code is duplicated is that Schema on the server depends on Storage, which we don't want to drag into the client. We can probably refactor the code a bit to avoid the duplication.

[2015-01-28 18:08] ewencp opened #69 "Advertised host setting name inconsistent with Kafka's"
The schema registry uses `advertised.host`, Kafka brokers use `advertised.host.name`. It would probably be better to be consistent with the existing setting name.

[2015-01-28 19:21] #69 closed, assigned to nobody

[2015-01-28 21:48] #54 closed, assigned to nehanarkhede

[2015-01-28 22:18] #1 closed, assigned to junrao

[2015-01-28 23:51] granders opened #75 "minor cleanup - Pair class is unused"
Pair class is dead code

[2015-01-29 06:03] #60 closed, assigned to ewencp

[2015-01-29 06:08] ewencp opened #77 "Evaluate and improve performance of de/serializers"
The AbstractKafkaAvroSerializer and AbstractKafkaAvroDeserializer both use the straightforward implementation of Avro serialization that allocates a new encoder and DatumWriter for every call.

We should start by adding a small microbenchmark tool to evaluate performance, then add some caching. Any cache implementation needs to be careful to handle multiple threads well. Additionally, to support a

[2015-01-29 19:06] ewencp opened #80 "Byte, Character, and Short not handled by Avro serializer"
These primitive Java types aren't handled by AbstractKafkaAvroSerializer.getSchema() because they don't have direct equivalents in Avro. I think there are two possible solutions:
1. Don't support them, but document it very clearly in the user documentation. In particular, these may warrant specialized exception messages since it would probably be easy to pass them in by accident, especially if you

[2015-01-29 22:21] nehanarkhede opened #81 "KafkaAvroEncoder should support keys"
@Ishiihara @junrao Is there a reason we left out keys from the serializer patch? Shouldn't the serializer take in a config that specifies whether it is a key serializer or a value serializer?

[2015-01-29 22:21] granders opened #82 "Handle broker failure when putting records into kafka store"
KafkaStore doesn't currently have a way to handle failures in the kafka broker cluster.

[2015-01-30 01:48] #64 closed, assigned to nobody

[2015-01-30 01:48] #75 closed, assigned to nobody

[2015-01-30 02:43] granders opened #83 "ProducerRecord generic type rather than raw"
Minor - in KafkaStore, it might be better to use ProducerRecord<byte[], byte[]> rather than the raw form.

[2015-01-30 02:59] nehanarkhede opened #84 "Add metrics to schema registry"
Similar to the ones we have for kafka-rest (https://github.com/confluentinc/kafka-rest/commit/33943d2abb6356915fbb54f0007ecb8fe5659795)

Also, another one to indicate the master node

[2015-01-30 05:48] #62 closed, assigned to nobody

[2015-01-30 19:17] #82 closed, assigned to nobody

[2015-01-30 19:17] #83 closed, assigned to nobody

[2015-01-31 01:03] #56 closed, assigned to nehanarkhede

[2015-01-31 01:23] granders opened #88 "schema registration - check local caches before forwarding request"
Currently a register request forwards immediately to master if the given process is not master. The cache-checking to see if the schema has already been registered should take place locally before forwarding the request.

This should help latency and decrease sensitivity to partitions, particularly in a multicolo setup.

[2015-02-02 18:32] #84 closed, assigned to nobody

[2015-02-02 18:34] #65 closed, assigned to nehanarkhede

[2015-02-02 18:45] #48 closed, assigned to nehanarkhede

[2015-02-02 19:29] nehanarkhede opened #92 "Qualify 500 error codes with more details about the type of server side error"
As per @ewencp's suggestion -

[2015-02-02 19:31] #40 closed, assigned to granders

[2015-02-02 22:45] granders opened #93 "nextSchemaIdCounterBatch - add small backoff to while loop"
In KafkaSchemaRegistry in nextSchemaIdCounterBatch(), there is a while loop containing a zookeeper conditional update

while (newSchemaIdCounterDataVersion < 0) { ... }

A small backoff should be added to the loop (perhaps ~50ms)

[2015-02-03 18:42] #93 closed, assigned to nehanarkhede

[2015-02-03 21:39] nehanarkhede opened #96 "Config update requests should be forwarded to the master"
Currently we forward register schema and schema lookup under subject requests to the master, but not the config update requests.

[2015-02-03 21:57] ewencp opened #97 "KAFKASTORE_TIMEOUT_CONFIG is too low in VMs"
Tests are failing when run in VMs because this value is too low for some operations. Here's the stacktrace:

[code]

I was going to just submit a patch to increase it, but it looks like this timeout is used in quite a few places. I suspect the issue here is that the tests rely on topic auto creation and in the VM that is taking longer for some reason.

I think the right solution is probably to add

[2015-02-04 02:28] #52 closed, assigned to junrao

[2015-02-04 02:29] #53 closed, assigned to junrao

[2015-02-04 02:30] #81 closed, assigned to junrao

[2015-02-04 02:30] #80 closed, assigned to junrao

[2015-02-04 18:29] granders opened #99 "rocksdb dependency?"
For our initial release, we're only using InMemoryStore for the local store. It might be cleaner to remove unused rocksdb stuff.

[2015-02-04 19:12] ewencp opened #100 "Schema registry packaging shouldn't pull in test dependencies"
The packaging scripts for core are somehow pulling in test dependencies on the avro-serializer package and (possibly transitively) things like junit. These end up as duplicates of jars in the avro-serializer package or as extra unnecessary jars. Currently they won't cause any problems, but having the duplicates is wasteful.

[2015-02-04 21:48] junrao opened #101 "registering the same schema under different subjects gives different ids"
curl -v -H "Content-Type: application/vnd.schemaregistry.v1+json" -X POST -i http://localhost:8080/subjects/test1/versions -d '{"schema": "{\"type\": \"string\"}"}'

curl -v -H "Content-Type: application/vnd.schemaregistry.v1+json" -X POST -i http://localhost:8080/subjects/test2/versions -d '{"schema": "{\"type\": \"string\"}"}'

You get id 0 in the first request and id 1 in the second request.

[2015-02-05 23:21] Ishiihara opened #103 "Schema Registry server should use a different default port"
Currently, schema registry and kafka rest proxy uses the same default port 8080 which will throw java.net.BindException if users are testing on the same machine. We should set different values .

[2015-02-06 17:47] #66 closed, assigned to granders

[2015-02-06 20:22] #92 closed, assigned to nehanarkhede

[2015-02-06 23:44] #101 closed, assigned to nobody

[2015-02-07 23:08] nehanarkhede opened #107 "Few minor fixes"
@junrao Filing this issue to track your review comments. Based on your review comments, I think this is a blocker for the release.
1. In doc, group requests by resources. For example, currently, there are subject level requests listed under Schemas.
2. Need to be consistent on referring a specific subject
   .. http:get:: /subjects/{subject}/versions
   vs
   .. http:get:: /subjects/(string:subjec

[2015-02-07 23:41] #99 closed, assigned to nobody

[2015-02-07 23:41] #103 closed, assigned to nobody

[2015-02-08 00:29] nehanarkhede opened #109 "Fix Schema registry docs"
Reviewing the overall product docs, I think there needs to be a certain continuation to the individual product docs from the global docs. For example, after going through the Confluent quick start [http://y2zjnzc0owi5nmy2m2jkmzfjm2m0mmi1yzq3mwjmnzu2ode0.s3-website-us-west-2.amazonaws.com/docs/quickstart.html] that assumes you've started the service, I just want to see the steps to try out some fea

[2015-02-09 03:30] ewencp opened #110 "Avro serializer tests don't cover Map, Enum, Array, Bytes, or Fixed"
Noticed this while working on Avro support for kafka-rest. I'm pretty sure the serializer will just fail on some of these types. Some are going to be exceedingly uncommon (e.g. enum as entire value type), but others might not be good practice yet might not be uncommon, e.g. Map can be used for semi-structured data. My quick look over the code suggests the schemas for some types will not be created

[2015-02-09 18:28] granders opened #112 "add focused unit test for getting "latest" version"
Looks like RestApiTest exercises "latest", but "latest" doesn't have its own unit test. Add this.

[2015-02-09 21:22] ewencp opened #113 "Documentation needs to discuss how subject-level config overrides should be managed between dev and production"
Currently we just provide assume auto-registration should use the default values for subject configurations such as compatibility level. This means that if they plan on overriding any of these values, they are responsible for making sure all their environments are consistent. Without a UI this isn't as necessarily unexpected since they'll have to make the changes by manually making a call to the s

[2015-02-10 00:48] junrao opened #114 "Need to handle null properly in the Avro serializer"
Avro serializes null to a 0 length byte array, which is different from the null value in Kafka.

[2015-02-10 19:42] #97 closed, assigned to nobody

[2015-02-10 22:53] #88 closed, assigned to junrao

[2015-02-10 22:53] #96 closed, assigned to junrao

[2015-02-10 22:54] #107 closed, assigned to junrao

[2015-02-10 22:54] #112 closed, assigned to junrao

[2015-02-11 08:48] #100 closed, assigned to ewencp

[2015-02-11 17:52] Ishiihara opened #120 "Consolidate schemaCache and VersionCache to a single Map"
Currently, we use two maps to cache
subject -> (schema -> id), subject -> (schema -> version).

We can consolidate the two maps to a single cache  subject -> (schema -> SchemaMetadata) where SchemaMetadata is a structure that contains  the global schema id,  schema string and version.

The  advantage of consolidation is that we can use the same logic in register and  getVersion when accessing cach

[2015-02-11 19:27] granders opened #121 "change 204 response to successful config update?"
API for compatibility update currently returns a 204 and nothing else to indicate success. @ewencp pointed out this may be confusing:

"Actually I'd recommend just changing this behavior to return something. Even though this doesn't really have anything to return, most people will only expect a 204 on a DELETE. It's nice if all normal, non-delete operations return an entity since it simplifies use

[2015-02-11 19:46] #114 closed, assigned to junrao

[2015-02-11 20:52] junrao opened #122 "add an option to disable auto schema registration in Avro serializer"
With this option turned on, the serializer will just check if a schema exists in the registry server or not. If the schema doesn't exist, the client will get an exception.

[2015-02-11 22:39] granders opened #123 "possible bug in lookup by schema"
POSTing a schema to /subjects/<subject> should tell us whether a the schema has been registered before under <subject>.

When writing the docs intro section, we noticed that the second curl request returns a 404 {"error_code":40403,"message":"Schema not found"} despite the fact that the payload schema is identical.

curl -X POST -i -H "Content-Type: application/vnd.schemaregistry.v1+json" \

[2015-02-12 00:37] #123 closed, assigned to junrao

[2015-02-12 01:33] #121 closed, assigned to junrao

[2015-02-12 01:36] junrao opened #126 "Only use async http for expensive requests"
Currently, we use async http in places such as CompatibilityResource. We probably should only use async when forwarding to the master is needed. For the rest of the requests, we can just use sync.

[2015-02-13 20:37] ewencp opened #128 "Wrapper scripts for Avro console producer consumer"
Right now it's a pain to run these, which makes the quickstarts worse. We should provide wrapper scripts with schema-registry, e.g. kafka-avro-console-producer and kafka-avro-console-consumer, that set all the settings that will always be the same for avro for you and takes care of the classpath.

[2015-02-13 22:47] #7 closed, assigned to granders

[2015-02-14 01:45] #109 closed, assigned to granders

[2015-02-14 02:57] ewencp opened #131 "Master election still has some very rare edge cases and isn't documented well"
We need to document the master election algorithm better. There are a lot of subtleties, some of which have to do with the ZkClient library, and the reasoning behind the algorithm needs to be clear.

We also still have a very rare edge case that can occur. If we have three nodes and 1 dies, leaving 2 (or just 2 during startup), then they both try to become master. One of them successfully writes,

[2015-02-15 05:05] #128 closed, assigned to nobody

[2015-02-17 18:35] granders opened #134 "Kafka failover integration test"
During kafka failover test, there appeared inconsistencies between ids returned by registration and ids obtained when fetching by subject/version or by subject/schema

[code]

[2015-02-19 23:11] granders opened #136 "move master inconsistency test to ducttape"
Currently, the unit test called testSlaveIsNeverMaster in MasterElectorTest creates 30 schema registry instances.

We kept this high number because this is what revealed the original problem with schema registry master election (fixed in PR #106)

We should continue to test this issue but move it to ducttape to speed up the unit tests.

[2015-02-20 17:06] granders opened #138 "KafkaStoreReaderThread doWork leftover TODOs"
This issue replaces a couple TODOs in KafkaStoreReaderThread

in doWork(), if deserialization of messageBytes fails, should we
            "// TODO: fail just this operation or all subsequent operations?"

in doWork(), if the application of message to the localstore fails,
            /**
             \* TODO: maybe retry for a configurable amount before logging a failure?
             \* TODO: ma

[2015-03-05 23:50] ewencp opened #142 "RestUtils.httpRequest needs to handle parse errors when deserializing responses"
Both HTTP_OK and error responses parse the data without any protection against exceptions.  [This email thread](https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/confluent-platform/OaWMfE533OI/A_rJIzNHgKsJ) shows a case where it looks like we're getting HTML instead of JSON back from the server (the `<` in the error message is probably the first opening tag). We should still

[2015-03-06 22:03] granders commented on #134
Fixed in PR #137

[2015-03-06 22:03] #134 closed

[2015-03-09 18:41] danharvey opened #144 "Specific Avro Decoder"
We've been using Avro+Kafka internally for awhile with the specific avro reader to code Java against a specific version of a schema. We've not really been making changes to the schema yet but are now making the jump to using a schema registry to correctly manage changes in schemas. We started working on our own but just noticed the confluent platform which is just what we're after.

To do this we'

[2015-03-09 18:50] granders opened #145 "update run class script"
@ewencp @theduderog
Thanks again for #143!
- Sorry I came to it a bit late, but we should probably preserve the behavior where you can run with -help with no args (patch #143 removes this particular behavior)
  bin/schema-registry-start -help #get a message
- Usage message also is just not quite true
  echo "USAGE: $0 [-daemon] [opts] [-help]"
  Given the way we grab flags, actual usage is
  "USAG

[2015-03-09 19:00] ewencp commented on #145
@granders Good catch. I don't really like how we have a couple of arguments handled by the wrapper script (-daemon, -help) and everything else handled by the program. Its a pain for maintenance and things like usage messages more easily fall out of date since they can't be generated automatically. I know it wouldn't match Kafka's implementation, but maybe we should stop using nohup, which isn't re

[2015-03-09 19:02] granders commented on #145
@ewencp These issues affect our other *-run-class scripts as well.

[2015-03-09 19:04] ewencp commented on #145
@granders Right. We might want to add a few supporting tools for making daemons to the common repo and then use them in all our code and simplify all the bin scripts.

[2015-03-09 19:11] granders commented on #145
@ewencp Yeah it would be great to have the scripts basically just handle classpath setup and not duplicate so much in these shell scripts. I second the motion for moving flag handling/daemonizing to the binary and sharing in the common repo.

As for formatting of arguments, we should probably just standardize on the consensus in this KIP: https://cwiki.apache.org/confluence/display/KAFKA/KIP-14+-+

[2015-03-10 23:21] granders opened #147 "docs should emphasize simplicity of schema-registry service"
Quoting @ewencp,
"I think the bigger takeaway here is that we need to be clear in our documentation that the schema registry should be extremely low maintenance. Instead of thinking "oh man, now I have to maintain 3 important services instead of 2", it should be "I just have to keep a couple of instances of this running and I get all these awesome benefits of using schemas". Maybe there are some c

[2015-03-10 23:27] granders opened #148 "persistence for CachedSchemaRegistry?"
someday maybe add local persistence for CachedSchemaRegistry

This falls into the category of someday maybe nice to have, but unclear whether necessary. If the Schema Registry service fails completely (probably rare), and app servers with their own CachedSchemaRegistry instances are bounced (a common occurrence), persistence of the cache could mitigate pain related to this.

[2015-03-10 23:33] granders opened #149 "more convenient platform scripts"
This is more relevant to the Confluent Platform as a whole. Perhaps some wrapper script(s) around the various startup scripts could ease the pain of starting/stopping the various components of the Confluent Platform.

In the short term it would be easy to implement a quick-start wrapper to fire up all the various services (which would itself serve as a form of documentation)

[2015-03-11 09:56] miguno opened #150 "Docs: clarify wire format for messages"
_(Feel free to move this issue elsewhere if schema-registry is not the right place.)_

One piece of information I haven't found yet in the [current docs](http://confluent.io/docs/current/) is a description or diagram of the wire format of messages if you're using the schema-registry aware Kafka producers/consumers.  Specifically I checked the [Java Applications: Serializers](http://confluent.io/do

[2015-03-11 16:31] ewencp commented on #150
@miguno Great point! This isn't something we'd expect most users to need to think about since you can just plug in the serializers we provide, but it would definitely be good to document.

The format is simple: there's a magic byte and integer schema ID followed by the payload. The payload is the Avro binary serialized version *except* when the data is a raw byte array, in which case its contents

[2015-03-11 19:21] miguno commented on #150
Thanks for the explanation and the pointer, Ewen -- much appreciated!

Ah, let me explain why I asked:  There are a few reasons why the wire format definition is helpful.  One is to understand the envelope-payload ratio for scenarios where messages are fairly small (say, <100 bytes).  Another is to facilitate e.g. tcpdump/wireshark/etc hacking during operations when troubleshooting network issues.

[2015-03-12 07:33] ewencp commented on #150
@miguno I think the format should definitely be documented, so I'll leave this open until we resolve that. Where that should be done is still up for debate.

Feedback on why you were thinking about it was also very useful -- considering overhead and making debugging easier are both very important. The wireshark note is especially interesting. It'd be awesome to have seamless wireshark integration.

[2015-03-13 17:36] ewencp opened #151 "Docs: 422 has wrong description in example and wrong reference link"
See confluentinc/kafka-rest#63 for the original issue. 0c475ccbec fixes the doc, but we need an updated version of sphinxcontrib-httpdomain. Once the PR is merged and a new version is released, we need to update requirements.txt to use a version >= 1.3.1

[2015-03-17 20:23] theduderog opened #153 "First-class support for headers in Kafka wire format"
I feel that the current Kafka message format (magic byte + 32-bit schema id + message) is not flexible enough.  It assumes Avro, 32-bit schema ids, and leaves no room for any message-independent metadata.  There's a valuable tradition in message protocols of allowing arbitrary headers (e.g. HTTP, STOMP, AMQP, SOAP, MQTT, JMS, CoAP).  Since headers are common to all messages and independent of the

[2015-03-17 20:30] theduderog commented on #153
A couple other use cases where custom headers are needed and should not be tied to message content.

1) If you use flume-ng as a source and Kafka as a sink, you need a way to pass metadata along with messages (agent-host, environment [prd/qa], etc.).  Flume-ng has a notion of headers and they have to be mapped to a Kafka message wrapper that supports headers (in an interceptor).  If the Confluent

[2015-03-18 01:14] b commented on #153
This is more of a Kafka concern than a schema registry concern. However, I am strongly opposed to the proposal. Tools like schema registry allow this to be done efficiently and simply without encumbering Kafka.

[2015-03-18 21:11] ewencp opened #154 "Make AbstractKafkaAvroSerDe and AbstractKafkaAvroDeserializer non-abstract"
See the original discussion here: https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/confluent-platform/zSoJ-T7jQo8/wYsLt7zEyCIJ

They don't need to be abstract and making them abstract makes it more effort to reuse that code if you want to use composition instead of inheritance. It seems going from abstract -> non-abstract is binary compatible, so we should be able to do thi

[2015-03-19 04:29] wushujames commented on #150
Another reason would be if I want to use other languages, like say python, to read/write messages that were created with the Confluent serializers. Plus just generally to understand how the whole Confluent system works together.

[2015-03-20 18:30] ankurcha opened #155 "Add serializer/deserializer to a maven repository"
It would be pretty awesome if we had access to these jars in a public maven repository.

[2015-03-20 18:33] ewencp commented on #155
We publish these in Confluent's maven repository. See the instructions for using it [here](http://confluent.io/docs/current/installation.html#installation-maven).

[2015-03-20 18:34] #155 closed

[2015-03-20 21:07] sigurdknippenberg commented on #145
I'd also like to call out that the -daemon option is currently lost when you pass it to the schema-registry-start script.

When it calls the schema-registry-run-class script the first argument is the main class. As a result the "while [ $# -gt 0 ]; do" loop in that script exits immediately and never gets to the -daemon argument.

For now I worked around it by modifying the schema-registry-start sc

[2015-03-25 18:13] junrao opened #156 "configure a rolling file appender in log4j.properties"
Currently, the server log only goes to console. It would be useful to have the log also go to a file that rolls regularly, like what's in Kafka broker.

[2015-03-26 01:12] granders opened #157 "Allow SchemaRegistryClients to instantiate with a list of urls"
Currently, Schema Registry client classes take a single url in the constructor. If that endpoint fails, there is no mechanism for clients to discover other urls in a schema registry cluster. This is fine if the schema registry cluster lives behind something like a virtual ip/load balancer. However, we should not require this for users to take advantage of Schema Registry's fault tolerance.

The si

[2015-03-26 14:15] ottomata commented on #122
yes please!

[2015-03-26 16:25] ewencp commented on #122
An example use case that could use this functionality now: https://groups.google.com/forum/#!topic/confluent-platform/Ve47ZtqLGGM

[2015-03-27 17:34] ewencp commented on #110
Found another case that isn't handled properly: Avro's Utf8 class is a CharSequence and should work, but we check for String instead of CharSequence. This also means other CharSequences will incorrectly fail, e.g. CharBuffer, StringBuffer, StringBuilder.

[2015-03-30 09:10] miguno opened #158 "Docs: clarify semantics of schema ids?"
**Edit:** Found the answer in the docs at [Design](http://confluent.io/docs/current/schema-registry/docs/design.html).  I confused _versions_ of a subject (`1, 2, 3, 4`) with the _ids_ of schemas.

[2015-03-30 09:18] miguno commented on #158
And the background for this question:  Some of our users have expressed interest in tracing the "history" (think: git commit log) of schemas registered with a subject.

[2015-03-30 09:25] miguno opened #159 "Reasons to set `host.name`?"
http://confluent.io/docs/current/schema-registry/docs/config.html

[code]

Given that the importance of this setting is low, what would be a reason or use case to change the default value (and why the default of `thor`)?  Which component would be interested in this value in ZK?  (e.g. I looked at the [Camus integration](http://confluent.io/docs/current/camus/docs/config.html) with schema-registry

[2015-03-30 09:40] miguno commented on #159
I found this snippet (a bit hidden) in http://confluent.io/docs/current/schema-registry/docs/deployment.html#schemaregistry-mirroring"

[2015-03-30 12:42] miguno opened #160 "AvroMessageReader / kafka-avro-console-producer: provide schema id instead of full Avro schema?"
[AvroMessageReader](https://github.com/confluentinc/schema-registry/blob/master/avro-serializer/src/main/java/io/confluent/kafka/formatter/AvroMessageReader.java) and thus kafka-avro-console-producer require the user to set `value.schema` (and if needed `key.schema`), which in turn requires to provide a full copy of the Avro schema -- and with the added catch that no whitespace is allowed.

Would

[2015-03-30 16:06] ewencp commented on #160
Agreed, this makes a lot of sense, and defaulting to `value.schema.id=latest` would probably be the best since 99% of the time that should just work. We'd need to be a bit careful about how we specify "latest", though, since naming conventions differ between the old producer and new producer due to limitations in the Encoder API (see how the subject is defined in KafkaAvroEncoder vs KafkaAvroSeria

[2015-03-30 16:19] ewencp commented on #159
I suppose the description should be expanded to give more context? The basic reason is that the hostname you get by trying to look it up dynamically isn't always the one you want to use, and the process needs to . We've set the importance low because in most/many cases, you will not need to adjust it, although given that it can be an issue for IaaS environments, it's possible we should bump it up

[2015-03-30 16:22] ewencp commented on #158
@miguno Hopefully most people don't need to worry much about the guarantees provided for ordering of IDs. But given that you had to dig around the docs a bit to find the info you wanted, if you have a suggestion for how to improve the docs, especially if we should do something like define version ID vs. schema ID more clearly in the intro documentation, we'd like to hear it!

[2015-03-30 17:43] miguno commented on #158
Yeah, I agree that most people don't need to worry about the guarantees.  I think I got lured into wondering about such guarantees because the wording in the docs _suggest_ there are some, although possibly not explicitly stated -- and hence I wondered whether there should be A) clearer wording if there are indeed such guarantees or B) a clarification that there are in fact none (like: "Currently,

[2015-03-31 09:30] miguno commented on #159
Ah, I see. :-)

I think this means that `host.name` (here) is similar to Kafka's `host.name` parameter, the latter of which is described as:

Kafka also has `advertised.host.name`:

Since [Schema Registry Mirroring](http://confluent.io/docs/current/schema-registry/docs/deployment.html#schemaregistry-mirroring) says about `host.name` "Hostname to publish to ZooKeeper for clients to use", does that

[2015-03-31 16:25] ewencp commented on #159
Hmm, this is unfortunately confusing. Right now, all rest-utils gives you control over for the listening socket is the port. MetricsSelectChannelConnector, doesn't set the hostname. So `host.name` in schema-regstry (and kafka-rest) is more like `advertised.host.name`. The docs in kafka-rest have this:

which is application-specific, but perhaps a bit clearer about the fact that the intent is to co

[2015-03-31 16:34] ewencp commented on #158
@miguno I think one potential problem in trying to use schema IDs for reasoning about ordering is that a schema could be used in different subjects. So we might register schema A for topic 1 and get A -> schema ID 1. Register schema B for topic 2  and get B -> schema ID 2. Then, if we register schema A for topic 2, we'll reuse the same schema ID and the schema IDs for the versions for topic 2 will

[2015-03-31 17:41] miguno commented on #158
Interestingly I interpreted the docs a bit differently for the use case you described (A -> 1, B -> 2).  So I'm adding to the confusion. ;-)

Since the API refs of `/subjects/foo/versions` and `/subjects/foo/version/<versionId>` say (a bit ambigously) _version_ of the returned schema, I thought that e.g. `[1,2,3,4]` was not a list of schema IDs -- but instead sth like an increasing series of "comm

[2015-04-01 02:12] granders commented on #158
Ah, sorry for the confusion, we should definitely update the docs to clarify these concepts.

* subject - a subject is a string with an associated "schema history". This history is durable and immutable. Each subject has its own schema history.

* version - the index into a given subject's "schema history". Version numbers are unique within a subject but not globally unique. Version numbers are in

[2015-04-01 02:19] granders opened #161 "update api doc"
The response for
GET /subjects/(string: subject)/versions/(versionId: version)
needs to be updated

It should be the same as the response for
POST /subjects/(string: subject)

Here's the correct response for both api calls:
Response JSON Object:

subject (string) – Name of the subject that this schema is registered under
id (int) – Globally unique identifier of the schema
version (int) – Version o

[2015-04-01 02:20] granders commented on #158
Also, note that there's a small error in the api doc for fetching a schema, see #161

[2015-04-01 08:56] miguno commented on #158
Thanks for the clarifications, Geoff!

One follow-up question regarding a corner case and its impact on "latest".  Since "latest" is an important feature for Camus integration and thus Kafka->HDFS ingestion, clarifying how schema-registry works in such a scenario might be helpful for users.

What happens if a schema is re-registered again under the same subject `foo`?  An example use case would be

[2015-04-01 09:12] miguno commented on #159
I can only speak for us but we do use Kafka's `host.name` for brokers, which are multi-NIC machines. Our reason for setting `host.name` is that not setting the parameter (= default) will cause Kafka to listen on `0.0.0.0:<port>` (which is ok) but Kafka will only register one of the broker's many hostnames/IPs with ZK, and the one picked may be the wrong one (this is the bad part).  We also used `a

[2015-04-01 09:15] miguno commented on #159
Ah, so you mean schema-registry will always listen on all interfaces (`0.0.0.0`) -- with only the port being configurable -- and the only effect of `host.name` is to control the hostname -- out of possibly many for a machine -- will be advertised in ZK _and_ will be handed out to clients in absolute URLs?

[2015-04-01 20:16] #144 closed

[2015-04-03 03:48] ewencp commented on #159
Right, that's the current state. If we can figure out a path to making all of those things configurable separately, that would be great.

[2015-04-03 04:13] ewencp commented on #158
If you try to re-register under the same subject you'll get back the old ID. If you allow re-registering, then some other APIs become more complex and/or more confusing. For example http://confluent.io/docs/current/schema-registry/docs/api.html#post--subjects-(string-%20subject) wouldn't necessarily return a single version ID anymore.

There's definitely a tradeoff here -- making registration/ID l

[2015-04-03 04:42] FelixGV commented on #158
Since avro has first-class support for doc fields, it's not too far-fetched to require a change of schema literal for registering new IDs. If you really want to roll back a schema, then you should probably have some metadata saying why you are doing it, so it seems reasonable to mention that in the doc field.

Alternatively, there could be a concept of read-only schema, meaning that a schema defin

[2015-04-03 05:58] ewencp commented on #158
@FelixGV great point! But we'd *definitely* need to document that as the expected approach to handling rollbacks. Unless you're familiar with Avro, this solution isn't going to be obvious.

On read-only schemas, you could also refer to the action of converting them to read-only as "deprecation" or "invalidation". Adding this feature means that clients would need to check in with the schema registr

[2015-04-03 06:30] miguno commented on #158
First, just to be clear:  My main intent for this discussion is to clarify the docs of the current code in schema-registry.  It's not about asking for a change.  When I talk about how our version of schema-registry works, I am only giving another perspective -- I'm not implying one is better or worse than the other. ;-)

Yeah, and interesting that you mention this example.  In our case, we decided

[2015-04-03 06:32] FelixGV commented on #158
Relying on properly behaved producers may or may not be achievable,
depending if people are starting fresh new Kafka deployments or not, but an
auditing infrastructure could at least detect badly behaved tenants.

I think at some point there were also talks about doing broker-side
validation that would outright reject bad messages instead of acking them,
but I don't know how feasible that is witho

[2015-04-03 06:51] miguno commented on #158
Yes, exactly.

Again, agreed.  We expect the very same in theory but realize that in practice, theory and practice are not the same. ;-)  We also wanted to be sure that we can actually track that we revert back to _exactly_ the same schema as we used in the past, which is one reason why we don't want to introduce "fake" changes into a schema just for the sake of making it different and thus allow

[2015-04-16 18:26] fsaintjacques commented on #110
Could one elaborate the restriction of this bug. We can't use any of those types if we use the Specific serializer?

[2015-04-16 21:14] ewencp commented on #110
@fsaintjacques This bug is referring to the type of the entire key or value. So, for example, doing something like

[code]

will not work because the Map type is not handled. However, you can still use those types if they are in a record. For example, and Avro record that looks something like this:

[code]

should work fine because the serializer is just getting the schema from the Record and does

[2015-04-17 09:26] ragnard opened #164 "Allow other implementations of DatumReader/DatumWriter in kafka-avro-serializer"
Currently, the logic for deciding which avro `DatumWriter` to use is not open to extension:

https://github.com/confluentinc/schema-registry/blob/master/avro-serializer/src/main/java/io/confluent/kafka/serializers/AbstractKafkaAvroSerializer.java#L58

I have a producer application written in clojure, and I'd like to be able to leverage a [clojure specific implementation](https://github.com/damball

[2015-04-17 14:13] ragnard commented on #164
Added PR with possible implementation as base for discussion.

[2015-04-17 17:17] ewencp opened #168 "CachedSchemaRegistryClient isn't properly unit tested"
#167 was missed because we didn't have proper tests of CachedSchemaRegistryClient. This class is annoying to test because it requires mocking out some key utilities from RestUtils which make requests to the schema registry server.

We should either rework the implementation to use dependency injection so it's testable or adopt something like PowerMock to make it possible to mock RestUtils without

[2015-04-30 08:47] miguno opened #170 "PUT /config/(string: subject) should return 4xx for unknown subjects"
`GET /config/(string: subject)` returns `404` if the subject is not found.  To be consistent the `PUT` variant should also return `404`?

In v1.0 the API returns `200` with a nulled compatibility level:

[code]

The `null` may also violate the specs of `PUT`, which only allows non-null values (`NONE`, `FULL`, `FORWARD`, `BACKWARD`):

_Edit_: I found one reference that `GET /config/(string: subject

[2015-05-06 17:42] ewencp opened #171 "Serializer options are not documented"
For the schema registry service we generate configs from the config class and have a dedicated page for them. We need something similar for the serde classes.

[2015-05-06 17:46] ewencp opened #172 "CachedSchemaRegistryClient should make it clearer that the likely cause of hitting the maximum number of schemas per subject is that the user is not reusing Avro schemas"
See the original discussion here: https://groups.google.com/d/msgid/confluent-platform/1b0451f7-9896-4cda-b9b9-5cd890099f3c%40googlegroups.com?utm_medium=email&utm_source=footer

Some applications generate new schema objects for new messages, but the schema is the same. This obviously isn't ideal and performance of these applications is going to suffer, but the serde classes shouldn't fail. We can

[2015-05-06 23:53] ewencp commented on #172
The conclusion after discussing the issue is that having the fallback could hide the root cause of poor performance and we should discourage not reusing the schemas since it leads to GC overhead. Instead we can improve the error message to make it clear that the most likely cause of this exception is not reusing schemas.

[2015-05-07 21:38] switzer opened #173 "Seemingly random HTTP 415 errors from Schema Registry"
We have the following setup where we are testing Confluent using a portion of our production data:

* 2 Openresty (Nginx + Lua) application servers with lua-resty-kafka library (inside docker containers)
* 1 Confluent container (running Confluent Kafka, Zookeeper and Confluent Schema Registry with the Confluent REST Interface)

On start, the application servers attempt to contact the registry and,

[2015-05-08 16:06] ewencp commented on #173
@switzer Interesting. Usually we see 415 responses due to invalid Content-Type headers, but that happens with PUT/POST calls. Since this is a GET, it could be an issue with the Accept header, but I'm assuming you're setting that the same (or omitting it) from every request.

The content negotiation should be handled by Jersey, and neither the schema registry or the rest-utils library throw NotSupp

[2015-05-08 16:26] dmcwhorter opened #174 "Simple install produces "KafkaStoreReaderThread failed to reach target offset within the timeout interval. targetOffset: [X], offsetReached: [X-1], timeout(ms): 60000""
I am attempting to try out the schema registry against an existing (HDP 2.2.4) kafka & zookeeper cluster.

I installed the schema registry by doing (on ubuntu 12.04):
[code]

I then changed the default schema-registry.properties to look like:
[code]

Finally, I attempted to start the schema broker using
```sudo schema-registry-start schema-registry.properties```

This produced the following output

[2015-05-08 16:37] ewencp opened #175 "Clearly document required versions of dependencies in docs"
We rely on Kafka 0.8.2 or higher due to a protocol, an issue that has come up in the mailing list/issues a couple of times.

[2015-05-08 16:38] ewencp commented on #174
@dmcwhorter The schema registry requires Kafka 0.8.2+ due to a protocol change it relies on. You can see more details about the reason in this mailing list post: https://groups.google.com/forum/#!topic/confluent-platform/Q-xTXzpdzc4

Unfortunately right now it's not possible to externally detect the version of the Kafka brokers, so we can't automatically detect this and warn the user. I've filed a

[2015-05-08 16:38] #174 closed

[2015-05-08 16:48] dmcwhorter commented on #174
Ok, thank you for the quick response!

[2015-05-11 14:38] miguno opened #176 "Support authentication/authorization"
Are there any plans to support authentication and authentication?

If not, it might help to add a section to the docs that explains how users can secure their schema registry instances.

Example workaround: Using nginx as proxy to enforce HTTP basic authentication to secure a downstream web server.  See the section "Basic Authentication" in [Playing HTTP tricks with nginx](https://www.elastic.co/b

[2015-05-11 18:45] ewencp commented on #176
I think we have the same question for pretty much anything we have a REST interface for, e.g. kafka-rest, especially when we add [Admin APIs](https://github.com/confluentinc/kafka-rest/wiki/Project---Admin-APIs). There's a section in that doc describing a few different options, some of which apply to schema-registry as well. This all gets more complicated given the security KIP, admin operations K

[2015-05-11 19:55] miguno commented on #176
Given the additional complexities/dependencies you described above I agree that in the short term the best option would be to extend the docs and include a few example configurations for the most popular proxies.  I'll take a look at nginx.

[2015-05-12 13:06] miguno commented on #176
Also, I realized that requiring authentication will also break components such as [KafkaAvroSerializer](https://github.com/confluentinc/schema-registry/blob/master/avro-serializer/src/main/java/io/confluent/kafka/serializers/KafkaAvroSerializer.java), which will attempt to register any new, unknown schema with schema registry on behalf of the user.

Requiring authentication for non-GET operations

[2015-05-12 21:58] afsheenb commented on #173
Here's the message that's returned from our GET request:

response code:415: body:{"error_code":415,"message":"HTTP 415 Unsupported Media Type javax.ws.rs.NotSupportedException: HTTP 415 Unsupported Media Type\njavax.ws.rs.NotSupportedException: HTTP 415 Unsupported Media Type\n\tat org.glassfish.jersey.server.internal.routing.MethodSelectingRouter.getMethodRouter(MethodSelectingRouter.java:526)\n

[2015-05-12 23:16] ewencp opened #177 "Fix extra headers in quickstart"
The quickstart has a lot of curl commands that include Content-Type headers for GETs (which have no request body, so shouldn't have a Content-Type). These should be removed since it can make it confusing for users when they need to include this. If we want to be explicit about this, we should add Accept headers to explicitly request a specific response body format.

[2015-05-13 14:40] saiksrm opened #178 "Deprecation of Schema"
Do we have an option to deprecate the schema or delete a schema. Much helpful if I can get some insight into this.

[2015-05-13 17:45] ewencp commented on #173
@afsheenb Thanks for the stacktrace. This confirms what I thought, which is that Jersey is internally trying to resolve the request to an acceptable resource method, but failing to find one that has acceptable input/output content types for some reason.

I've tried reproducing this, but haven't been able to. I just issued GET requests with valid Accept headers. On the off chance it's some sort of

[2015-05-15 19:06] WalterDalton opened #179 "Running Schema Registry on Mesos"
Greetings all, I am seeing that Mesos can/could actually be a great fit for the stream platform concept. I have kafka-mesos working well. (Tested through a number of other ways) and I tried to start getting the schema registry and rest proxy working on mesos. And ran into an issue. Basically, it never seems to initialize, I've tried raising the time out, but it always times out one message away, b

[2015-05-15 20:08] granders commented on #179
I suspect you are running Kafka 0.8.1.1 or earlier? To use the schema registry, it is necessary to be running Kafka 0.8.2 or higher.

Check out https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!topic/confluent-platform/Q-xTXzpdzc4
for more background on the issue you're seeing.

[2015-05-15 20:12] WalterDalton commented on #179
Thank you for the quick and concise response. I will close this issue as you are correct, I am on 0.8.1. I will work on getting my kafka to 0.8.2!

[2015-05-15 20:12] #179 closed

[2015-05-15 20:21] granders commented on #179
Awesome :)

[2015-05-15 20:41] WalterDalton commented on #179
Just a follow-up: It worked great. It's running well now. Thank you again.

[2015-05-18 09:08] miguno commented on #177
My pull request at https://github.com/confluentinc/schema-registry/pull/180 removes the Content-Type headers.  (No Accept headers added though.)

[2015-05-19 08:40] miguno opened #181 "Add copyright notice to LICENSE?"
Shouldn't the top of the `LICENSE` include a copyright statement?

[2015-05-19 08:41] #177 closed

[2015-05-19 16:20] ewencp commented on #181
Usually they don't -- take a look at, e.g., Kafka's, Spark's, etc. They usually just include the licensing info. Copyright is handled by headers in the files, which strictly speaking under US copyright aren't even required, they just make it easier to take pieces (individual files) of the original work (the entire software package) and use them elsewhere under the same license.

Here's Apache's pa

[2015-05-19 16:29] miguno commented on #181
Hmm, you're totally right, Ewen.

In our OSS projects (e.g. [sis-cmdb/sis-api](https://github.com/sis-cmdb/sis-api/blob/develop/LICENSE)) there is such a copyright notice at the top of the `LICENSE` file.  But maybe that's because of the different license.  Long story short, I'd go with the recommendations of the Apache project, too, just like you suggest.

Sorry for the confusion!  I'll close the

[2015-05-19 16:29] #181 closed

[2015-05-19 16:30] miguno commented on #176
I'll close this ticket for the time being.  If needed we can re-open it later.

[2015-05-19 16:30] #176 closed

[2015-05-20 02:03] yiming187 opened #182 "bin/schema-registry-start -daemon does not work"
[fxUser@fx-messagequeue04 confluent]$ bin/schema-registry-start -daemon etc/schema-registry/schema-registry.properties
io.confluent.kafka.schemaregistry.rest.Main
SLF4J: Class path contains multiple SLF4J bindings.
SLF4J: Found binding in [jar:file:/opt/ctrip/app/kafka/confluent/share/java/confluent-common/slf4j-log4j12-1.7.6.jar!/org/slf4j/impl/StaticLoggerBinder.class]
SLF4J: Found binding in [j

[2015-05-20 03:39] ewencp commented on #182
The support is provided in the `schema-registry-run-class` script already, but was broken in the 1.0 release. #143 has already fixed it, so a build from master should work fine now. (I'm pretty sure if you just grab the bin/ files and overwrite they will work fine with the rest of the code if you need a quick fix.)

[2015-05-20 03:39] #182 closed

[2015-05-20 03:48] yiming187 commented on #182
thank you.

[2015-05-21 14:31] jayawe commented on #172
Hello

I ran into this error during some PSR tests. I just created a loop to submit 1000 messages including the schema (via the rest api). It always fails on #1000. When the error occurs, it continues to occur until i restart the rest service. If you change the error message and it still fails, doesn't that break future producers who are producing for first time in order to retrieve the schema id

[2015-05-21 14:58] FelixGV commented on #172
Since you are expecting new schema registrations to be infrequent, you
could add the more expensive check when (what appears to be) a "new" schema
is submitted.

If the check determines that a pre-existing schema is functionally equal to
the new one, but is a different instance, then you could spit out the more
detailed error message and fail fast.

Failing 1000 messages later seems like a poor be

[2015-05-26 19:56] WalterDalton opened #183 "Can't build schema registry"
I am trying to build schema registry.  It says build rest-utils and common first (I did that) and now when I am building schema-registry I get this:

[ERROR] Failed to execute goal on project kafka-avro-serializer: Could not resolve dependencies for project io.confluent:kafka-avro-serializer:jar:2.0-SNAPSHOT: Failure to find org.apache.kafka:kafka_2.10:jar:0.8.2.0-cp in http://packages.confluent.i

[2015-05-26 20:33] ewencp commented on #183
The dependency it is complaining about is Kafka, not rest-utils or common, so it sounds like those probably installed successfully. It looks like it cached a failure to find the jar, but that jar definitely exists in the maven repository.

Can you try running the maven command again and add the `-U` flag to disable caching so it'll try checking for it in the repository again?

[2015-05-26 20:40] WalterDalton commented on #183
Same error with mvn -U compile.

Note, I didn't install the Confluent Kafka package, I am trying to run schema registry and rest api using mesos on Kafka, therefore I've built my own Kafka, the docs doesn't say it's reliant on that package, and the command rest-util both built successfully.

[2015-05-26 20:50] ewencp commented on #183
Right, we don't expect you to have built Kafka yourself. Neither common nor rest-utils use Kafka, so they wouldn't run into the same error.

The relevant dependency is in `core/pom.xml` and avro-serializer/pom.xml`:
[code]
This uses a couple of properties defined in the root `pom.xml`:
[code]
And that same file includes the necessary repository:
[code]

I just removed all the data from my local ma

[2015-05-26 21:02] WalterDalton commented on #183
I can download that specific file with wget, but I am still getting
[ERROR] Failed to execute goal on project kafka-avro-serializer: Could not resolve dependencies for project io.confluent:kafka-avro-serializer:jar:2.0-SNAPSHOT: Could not find artifact org.apache.kafka:kafka_2.10:jar:0.8.2.0-cp in confluent (http://packages.confluent.io/maven/) -> [Help 1]

When I try to compile.  I've gone to my

[2015-05-26 21:15] ewencp commented on #183
Agreed, this seems weird. The only other thing I can think of is that the dependency has scope set as "provided", but for mvn compile that shouldn't affect anything.

The 2.0-SNAPSHOT version in that message refers to the kafka-avro-serializer artifact in the schema registry, so that's what you're trying to build. Kafka and the Confluent projects are versioned differently. I don't think there's an

[2015-05-26 21:28] WalterDalton commented on #183
Here is the full log:

Downloading: http://packages.confluent.io/maven/org/apache/kafka/kafka_2.10/0.8.2.0-cp/kafka_2.10-0.8.2.0-cp.pom
Downloading: http://repo.maven.apache.org/maven2/org/apache/kafka/kafka_2.10/0.8.2.0-cp/kafka_2.10-0.8.2.0-cp.pom
[WARNING] The POM for org.apache.kafka:kafka_2.10:jar:0.8.2.0-cp is missing, no dependency information available
Downloading: http://packages.confluen

[2015-05-26 21:40] ewencp commented on #183
That looks like there's some issue downloading the files -- they definitely exist, but you should see corresponding "Downloaded" lines, and it's complaining about the missing POM for org.apache.kafka:kafka_2.10:jar:0.8.2.0-cp for the same reason. This seems strange if you're able to download the files directly.

Any chance there's a proxy or mirror setting somewhere that -U isn't handling? e.g. if

[2015-05-27 00:26] switzer commented on #173
@ewencp This turned out to be an issue local to our environment.  Closing this issue.  cc @afsheenb

[2015-05-27 00:26] #173 closed

[2015-05-27 12:09] WalterDalton commented on #183
I changed it to 0.8.2.1-cp and that didn't work. I added the apache registry, and used 0.8.2.0 as my kafka version and that DID work.  Will that hurt me long term?

[2015-05-27 17:02] ewencp commented on #183
Sorry, I probably wasn't clear. When I said to try 0.8.2.1, I meant without the -cp suffix. That is the latest Apache release of Kafka. It turns out that 0.8.2.0-cp and 0.8.2.1 are exactly the same, but since 0.8.2.1 wasn't released when we released v1 of Confluent Platform, we had to tag it with a different number.

Since this dependency is only pulled in during compile time (the runtime jar need

[2015-05-27 17:02] #183 closed

[2015-05-27 20:47] ewencp commented on #157
Fixed by #184.

[2015-05-27 20:47] #157 closed

[2015-05-28 06:36] jhalterman opened #185 "LocalSchemaRegistryClient thread safety"
`LocalSchemaRegistryClient` appears to have some thread safety issues with the internal cache Maps. Ex:

https://github.com/confluentinc/schema-registry/blob/master/client/src/main/java/io/confluent/kafka/schemaregistry/client/LocalSchemaRegistryClient.java#L168
https://github.com/confluentinc/schema-registry/blob/master/client/src/main/java/io/confluent/kafka/schemaregistry/client/LocalSchemaRegi

[2015-05-28 16:52] ewencp commented on #185
LocalSchemaRegistryClient is a mock class meant only for testing, so it shouldn't need to be thread safe unless the tests require it. I think this might be a bit confusing now because the class is located in the client package alongside the CachedSchemaRegistryClient (the implementation that should always be used for regular code), but only used in tests in the serializer package (for serializers

[2015-05-28 16:56] jhalterman commented on #185
Nope, just noticed it here...

[2015-05-28 23:15] miguno commented on #185
Would it make sense to add a javadoc snippet to the class to highlight this?

[@VisibleForTesting](http://docs.guava-libraries.googlecode.com/git/javadoc/com/google/common/annotations/VisibleForTesting.html) may or may not be applicable here, too (I think the semantics of the annotation are slightly different) though introducing a dependency on Guava just for the annotation might not be advisable.

[2015-05-28 23:17] jhalterman commented on #185
:+1: to @miguno 's comments. Factoring this code out to a test tree would be ideal, otherwise maybe just doc it.

[2015-05-28 23:19] ewencp commented on #185
Yeah, I think docs make sense. Another change that could improve it would be to rename it so the intent is clearer -- LocalSchemaRegistryClient is technically accurate, but MockSchemaRegistryClient would be clearer.

[2015-05-28 23:37] miguno commented on #185
+1, that sounds much better.

[2015-05-29 16:25] jhalterman commented on #185
Looks good.

[2015-05-29 16:25] #185 closed

[2015-05-31 00:03] ewencp commented on #178
We gave this a lot of thought and discussion. It turns out to be a lot more complicated than you might initially think. Here are a couple of the issues:

* Once the schema is registered, it's possible data already exists using the schema. So then what should deprecation do exactly? Should it still appear in listings of all versions for the subject? Or does it get hidden, but it's possible to looku

[2015-06-01 05:10] saiksrm commented on #178
Thanks for detailing out the issues and concerns around it...we will use them as guidelines to start with...

[2015-06-09 18:56] granders opened #190 "GET /config and GET /config/{subject} incorrect return format"
According to documentation, the response to GET on /config and /config/{subject} should be json with

{
  "compatibility": <compatibility>
}

Instead, it is

{
  "compatibilityLevel": <compatibility>
}

This is inconsistent with the return type from POST requests to the same endpoints, and inconsistent with documentation. The returned JSON should have the field "compatibility"

[2015-06-09 20:01] ewencp commented on #190
We need to be careful about compatibility here (no pun intended). We should leave the `compatibilityLevel` field in, fix it to include `compatibility`, and updated the docs to clarify that `compatibilityLevel` is deprecated.

[2015-06-11 16:40] cwscribner opened #191 "Schema Registry master election with multiple instances and rest proxies"
Reading through the multi-dc schema registry setup spawned some questions and I couldn't find a better place to ask than here.  Let me know if I should repost this elsewhere.

For architecture, I have:
* 2 Kafka REST Proxy boxes
* 2 Schema Registry Boxes
* 3 Zookeeper boxes
* 3 Kafka brokers

1. Given that I have two Schema Registry (SR) instances, what's the preferred string for `schema.registry.

[2015-06-11 18:34] ewencp commented on #191
@cwscribner You can use our [community mailing list](https://groups.google.com/forum/#!forum/confluent-platform) for questions like this.

1. https://github.com/confluentinc/schema-registry/pull/184 adds support for multiple SR servers but isn't released yet. For now you'd want to use round-robin DNS or a load balancer.
2. You can, and should, have multiple instances with `master.eligibility=true`

[2015-06-11 19:46] cwscribner commented on #191
Perfect, thanks for the response!

[2015-06-11 19:46] #191 closed

[2015-06-11 21:48] #168 closed

[2015-06-29 18:11] ewencp opened #194 "Rename Main class"
This is an inconvenient name since jps just lists it as Main instead of as schema-registry, and it gets confusing if you're also running kafka-rest.

We'll need to maintain the Main class for compatibility, but we should change all usages (e.g. in scripts) to the new class.

[2015-07-12 10:32] larsp commented on #155
Are there any future plans to move modules like the avro-serializer to maven-central? Would make consumption a little easier.

[2015-07-16 00:59] ewencp commented on #155
@larsp There aren't currently any plans to do this, but you could also bring this up on the mailing list if you want to start a discussion about it.

[2015-07-22 13:49] AndrewSwerlick opened #199 "Unknown Host exception starting schema registry"
In trying to start the schema registry I'm getting the following error.

[code]

This is on a Centos 6.6 box where zookeeper and kafka are both installed, and I'm using the default configuration for both after having installed the confluent platform via yum. The box is hosted at digital ocean.

[2015-07-22 16:09] ewencp commented on #199
@AndrewSwerlick It seems like it's `InetAddress.getLocalHost()` is returning `axon-dev` and then `getCanonicalHost()` is failing to resolve the FQDN. We could potentially make the `getCanonicalHost()` step optional (i.e. if it fails, just use whatever we got from `InetAddress.getLocalHost()`), but I'm not sure that's actually a good idea since only the FQDN is going to be generally safe to use whe

[2015-07-22 22:59] AndrewSwerlick commented on #199
So should I be able to avoid this by explicitly setting something for host.name in schema-registry-properties? I've tried setting a couple of values there (localhost, 127.0.0.1) but it doesn't seem change anything.

[2015-07-22 23:32] ewencp commented on #199
I think it's not changing anything because the default host is looked up as part of the setup of the configuration options -- it is computed in order to fill in the default value. So this exception is happening even before you've hit the configuration parsing code.

I think that shouldn't be a problem to fix since we could, for example, leave the `host.name` default as blank and make it look up th

[2015-07-23 10:04] satybald commented on #183
I experienace the same problem on my Mac with java7:

[code]

Full log
[code]

[2015-07-23 11:44] satybald commented on #183
I tried with wget to download missing jar and found that 2.0-SNAPSHOT version aren't awailable on the maven repo.
[code]
However, there's no problem accessing 1.0 jars.

[2015-07-23 16:20] ewencp commented on #183
@satybald That's actually a different problem -- you don't have the 2.0-SNAPSHOT version of confluent-common (and if you don't have that, you also won't have the snapshot version of rest-utils, which is also required). As mentioned in the [development](http://docs.confluent.io/1.0/schema-registry/docs/intro.html#development) section of the docs, you'll need to build and install both of those repos

[2015-07-23 17:19] AndrewSwerlick commented on #199
It's basically a stock Digital Ocean server running Centos 6.6. After digging around a while I was able to find some documentation on setting the FQDN

https://github.com/DigitalOcean-User-Projects/Articles-and-Tutorials/blob/master/set_hostname_fqdn_on_ubuntu_centos.md

by following those instructions and adding the proper /etc/hosts entry I was able to get it working properly.

Of course now I'm

[2015-07-23 23:03] jdfree opened #201 "Can't connect or debug kafka connection failure at startup"
I've been trying to follow the quickstart except I'm pointing schema-registry at my existing kafka installation by setting `kafkastore.connection.url` in the config and executing the command below. I can't seem to get it to connect. Kafka version is 0.8.2, wondering if the problem is zookeeper-specific, or if my config is incorrect, or...

I really don't know how to debug this. Help, as well as mo

[2015-07-24 03:57] ewencp commented on #201
It looks like you might be pointing `kafkastore.connection.url` at your Kafka broker since you specified port 9092. This setting is actually the *zookeeper* connection URL for your Kafka cluster. The ZK library is timing out because the Kafka broker is probably repeatedly closing the connection when the schema registry makes ZK requests to it.

The naming of the setting may seem a bit strange. Sin

[2015-07-24 03:57] #201 closed

[2015-07-24 11:59] satybald commented on #183
@ewencp got it! thanks for this information.

[2015-07-24 16:46] jdfree commented on #201
Thank you, @ewencp, for the tip. This has unblocked my development.

I do suggest using this issue to clarify the config name/documentation, though. Upon re-reading http://docs.confluent.io/1.0/schema-registry/docs/config.html, I can understand the intent now, but I interpreted it differently at first glance.

[2015-07-27 04:29] ewencp commented on #194
Fixed by #203

[2015-07-27 04:29] #194 closed

[2015-07-27 20:12] wushujames opened #204 "Does the schema-registry ever commit offsets when listening to the schemas topic?"
I am designing an application that uses a Kafka topic as its only data source. Upon startup, it will read the entire topic into memory, and serves up the data from the kafka topic as a web service. I was pointed to the schema-registry as an example of an application that has similar design. http://search-hadoop.com/m/uyzND1DUZCa2VFGOX&subj=Consuming+from+Kafka+but+don+t+need+to+save+offsets

From

[2015-07-27 20:37] granders commented on #204
Hi James,

Thanks for your question! Since this is more of an open-ended question rather than an issue, I'm going to close this issue and post your question and my response to the Confluent Platform mailing list:

confluent-platform@googlegroups.com

Thanks,
Geoff

[2015-07-27 20:37] #204 closed

[2015-07-27 20:46] wushujames commented on #204
Thanks Geoff. I sometimes see questions posted in the "Issues" section with tag "question", so I wasn't sure where to ask. I saw your response over there. Thanks!

[2015-07-29 01:20] granders opened #205 "consider removing offset-commit logic from KafkaStoreReaderThread"
Consider removing this logic since there is no way for users to externally enable offset commits.

If, in the future we add checkpointing mechanisms that rely on committed offsets, this can easily be re-added.

[2015-08-03 17:38] fpj commented on #170
I ran into a few issues while trying to sort this one out. First, `RestApiTest.testGetConfigNonExistentSubject` is broken because `getConfig` isn't really throwing an exception. Now if I add a check in `ConfigResource.getSubjectLevelConfig` to throw an exception for subject not found, then a few test cases fail, including `testNonExistentSubjectConfigChange`. If we do the fix that @miguno proposes

[2015-08-03 18:05] granders commented on #170
@fpj
To address your question about KafkaStore.put: KafkaStore.put does two things:
First, it to writes the key, value to its topic in Kafka (this topic has a single partition).
It then waits for its local cache (aka localStore) to "read in" this key/value by waiting for the KafkaStoreReaderThread to catch up to the most recently written offset (see `KafkaStoreReaderThread.waitUntilOffset(...)`)

[2015-08-03 18:11] fpj commented on #170
@granders makes sense, but in this case, is it right to see the write to localStore as an asynchronous write? If that's the case, the result of `RestApiTest.testNonExistentSubjectConfigChange` will depend on timing (because it PUTs and GETs immediatelly after).

[2015-08-03 18:24] granders commented on #170
@fpj
Ah ok - although it's using the async produce api, the put method is actually synchronous since we
a) Immediately call `ack.get` which blocks until we get the metadata back from the produce request
b) and then `kafkaTopicReader.waitUntilOffset` which blocks until the local store is caught up with the Kafka topic.

so `put` blocks until both Kafka has the message and until local store is caugh

[2015-08-03 18:27] fpj commented on #170
@granders hmm, if it isn't timing, then there is another bug somewhere. I checked the log messages, and the GET doesn't actually find anything, but because it is not throwing a SubjectNotFoundException, the test passes.

[2015-08-03 21:21] fpj commented on #170
@miguno @granders @junrao

after an offline discussion with Geoff, we came to a few conclusions and suggestions about this issue. The suggestion that @miguno made initially of returning a 404 for `PUT /config/subject` when the config for the subject doesn't exist makes sense. The intent of the PUT request is to update according to the documentation. However, currently we use PUT requests to also c

[2015-08-04 09:13] granders opened #208 "Several RestApiTest test cases don't test proper exception behavior"
Several test cases in RestApiTest look like:

[code]

Note that if doSomething() does not throw an exception, then the test will (incorrectly) pass. These should be fixed so that they fail if no exception is thrown, e.g. by adding `fail(message)` at the end of the try blocks.

[2015-08-05 01:55] granders opened #209 "consider adding additional compatibility check for known transitivity breaker"
Here is an example of changes which are incrementally compatible, but not transitively so:
https://github.com/granders/avro-experiment/blob/master/src/main/java/geoff/AvroThingy.java

In this case, compatibility is caused by dropping a default value from a field.

Consider adding tighter logic (or at least documentation) to disallow this.

[2015-08-05 18:15] granders commented on #208
Fixed in PR#207

[2015-08-05 18:15] #208 closed

[2015-08-06 18:43] neville-sequeira opened #211 "Create Windows specific wrapper script to run Schema Registry"
It will be very helpful for Windows users to have wrapper scripts for Windows - like the ones for non-Windows specified at http://docs.confluent.io/1.0/quickstart.html#quickstart

[2015-08-07 16:44] rajim17 opened #213 "GET Compatibility call for subject returns level as null"
Here is the sequences of API calls,

-> Global Compatibility returns "BACKWARD"

curl -i -X GET http://localhost:8081/config
HTTP/1.1 200 OK
Content-Length: 33
Content-Type: application/vnd.schemaregistry.v1+json
Server: Jetty(8.1.16.v20140903)

{"compatibilityLevel":"BACKWARD"}

-> Sample Schema upload

curl -i -X POST -H "Content-Type:application/vnd.schemaregistry.v1+json"  --data '{"schema": "

[2015-08-07 18:30] rajim17 opened #214 "Invalid Schema Error can include part of exception message for better debugging"
I was trying to register a schema which had JSON error( extra comma between fields). Submitting this schema, error reported back as below,

HTTP/1.1 422
Content-Length: 71
Content-Type: application/vnd.schemaregistry.v1+json
Server: Jetty(8.1.16.v20140903)

{"error_code":42201,"message":"Input schema is an invalid Avro schema"}

It would have been helpful , if some part of avro parsing error is ap

[2015-08-07 21:52] granders opened #215 "Update docs on /config/<subject> to clarify behavior"
The docs on /config are fairly terse, and can lead to some confusion when there is no config override for a subject (e.g. https://github.com/confluentinc/schema-registry/issues/213):

if `GET /config` returns `{"compatibility": "FULL"}`, and there is no override for subject "my_cool_topic", it's reasonable to assume that `GET /config/my_cool_topic` might return FULL.

However this is not correct.

[2015-08-07 21:56] granders commented on #213
Hi @rajim17, thanks for bringing this up.

The compatibility level for a specific subject is either the global default (found at `/config`), or the subject-specific override (at `/config/<subject>`. Your last query asks for the subject-specific override. But, since you haven't set an override, it returns null.

That said, it is inconsistent with the docs that it returns 200 rather than a 404, and

[2015-08-07 21:56] #213 closed

[2015-08-07 21:59] gwenshap commented on #214
We can add the message that Avro parser throws, but I'm not sure it will make anything clearer.

"Schema parse exception:org.codehaus.jackson.JsonParseException: Unexpected end-of-input: expected close marker for OBJECT "

What do you think @rajim17? Will it help if we add this?

[2015-08-07 23:47] ewencp commented on #214
The problem is that, generally speaking, most parser errors are unhelpful unless someone has a) put a lot of effort into making them clear (often times it needs to include a good suggestion about what can cause the error, see for example, missing semicolon errors in C++ compilers) or b) enough info about the location of the error is given that you can extract a snippet to just show where parsing f

[2015-08-10 17:20] rajim17 commented on #214
I used a simple avro schema and parsed with Avro Parser class. It does throw exception which points out exactly where the mistake is.

Here is my sample avro schema,

[code]

[code]

Here is the stack trace,

Caused by: org.codehaus.jackson.JsonParseException: Unexpected character (',' (code 44)): was expecting double-quote to start field name
 at [Source: java.io.BufferedInputStream@17cb4a6a; lin

[2015-08-10 17:25] rajim17 commented on #215
I was under assumption that if compatibility level is not set for a subject, it would use the global default compatibility level. If not, how does global compatibility level is used ?

[2015-08-10 17:46] granders commented on #215
@rajim17 You are exactly right about the compatibility check.

When a schema is registered in a subject, the compatibility check is done using the "derived" compatibility level just like you described: if a subject-level compatibility override is not set , the global default for compatibility level is used.

My guess is that source of confusion here is that `/config/<subject>` actually fetches the

[2015-08-10 18:52] rajim17 commented on #215
Yes @granders . I would expect /config/<subject> to be returning the derived compatibility level. Do you think this is making sense.. ??

[2015-08-13 16:00] ppearcy opened #216 "Option to take into account a newer reader schema when deserializing generic records"
I was writing some tests to verify how data evolution behaves.

I noticed that for generic records, the writer schema is always used for reading. The implication is that generic consumers will always generate generic records based on the format chosen by the writer. It would nice to have an option for generic deserializer to use the latest version of the schema for reading.

This gets complicated

[2015-08-18 16:42] rajim17 opened #217 "Rest client library making 2 calls per RestUtils.getId(baseUrl, RestUtils.DEFAULT_REQUEST_PROPERTIES, id);"
I am using RestUtils class to get the schema by Id.

[code]

As I look into schemaregistry console, I see two calls are being made for single getId call.

[code]

Could you clarify this.. ?

[2015-08-18 17:19] ewencp commented on #217
It should only be making a single request. Perhaps the log4j settings are generating duplicate log records (e.g., if the additivity settings for log4j aren't set properly)?

[2015-08-18 18:35] rajim17 commented on #217
log4j.properties the one comes with the bundle,

log4j.rootLogger=INFO, stdout

log4j.appender.stdout=org.apache.log4j.ConsoleAppender
log4j.appender.stdout.layout=org.apache.log4j.PatternLayout
log4j.appender.stdout.layout.ConversionPattern=[%d] %p %m (%c:%L)%n

log4j.logger.kafka=ERROR, stdout
log4j.logger.org.apache.zookeeper=ERROR, stdout
log4j.logger.org.apache.kafka=ERROR, stdout
log4j.logge

[2015-08-18 23:25] rajim17 opened #218 "Need of "schema" key inside the payload (avro json document)"
Is there any specific reason why avro schema content needs to be represented as a value in JSON payload. Why do we need to have "schema" as a key.  Can't we represent "schema" key in the resource uri itself?  The reason for asking is, actual avro schema runs long and we have to escape the doublequotes (") character for every key and value. ?

[code]

Instead of including "schema"  key, we can have

[2015-08-19 00:09] ewencp commented on #218
@rajim17 Both modes are potentially useful. In some cases, the the most convenient form that the schema gets stored in is as a string (e.g. it's trivial to get this out of Java SpecificRecord class). In others, you may want to just embed the JSON directly (e.g. in some dynamic languages like python, you might just be able to directly point to the dict that contains the representation of the schema

[2015-08-19 13:57] miguno commented on #199
@AndrewSwerlick Any news?  Have you been able to sort out the issue?  If so, we can close this ticket.

[2015-08-19 17:13] rajim17 commented on #218
@ewencp Thanks for the explanation.As you have suggested, I can stringify the schema in our code base.

But still I can not use straightforward curl command(without embedding into shell script)  to upload the schema... It always need one more step to escape the characters.

[2015-08-19 19:06] ewencp commented on #199
@miguno I was thinking there might be a better solution to this. The problem is [this method](https://github.com/confluentinc/schema-registry/blob/master/core/src/main/java/io/confluent/kafka/schemaregistry/rest/SchemaRegistryConfig.java#L191). What if we separate the `getLocalHost()` call and the subsequent `getCanonicalHostname()` call? We can save the value the first one returns. If the second

[2015-08-19 19:18] ewencp commented on #218
Ahh, @rajim17, I totally understand that pain point. Makes a lot more sense now.

I'm leaving this open (with the reference to the REST Proxy issue) since I agree this is something we want to add support for.

[2015-08-20 21:33] rajim17 commented on #218
Thanks @ewencp , will wait for the fix.

[2015-08-23 00:20] ewencp commented on #151
Unblocked by https://bitbucket.org/birkenfeld/sphinx-contrib/pull-requests/92/fix-httpdomain-links-for-webdav-status/diff#comment-9065092

[2015-08-23 00:21] #151 closed

[2015-08-31 04:34] ppearcy commented on #178
I'm wondering if anyone can help clarify. It looks like a PR was merged a while ago to add deprecation support:
https://github.com/confluentinc/schema-registry/pull/38

However, I can't find any trace of these changes in master.

@granders Any idea what happened to the previous changes?

[2015-08-31 14:08] ottomata opened #220 "JSON Schema Support"
Avro is cool!

But lots of people use JSON.  JSON Schema allows folks to use JSON with a strictly defined schema.  Wouldn't it be nice if schema-registry (and Kafka REST Proxy) supported JSON Schema?

JSON Schema wouldn't be as good as Avro, as there is no schema evolution feature.  However, it would be nice if one could produce JSON to Kafka REST Proxy and be sure that the data matched a register

[2015-08-31 14:23] ottomata opened #221 "Enforce topic -> schema mapping."
It'd be handy if REST proxy could enforce producing only a certain series of a schema to a particular topic.  This would require registering a topic to have a particular schema series, perhaps in schema registry.

Thoughts?  Is this a bad idea?

[2015-09-01 00:48] ewencp commented on #221
@ottomata Not sure I understand how what you're suggesting is different from what we do today since the REST proxy uses the Avro serializers, which will require the schemas to be registered before sending the data? Or are the compatibility checks the schema registry will enforce not strong enough restrictions for you?

Would #122 do the trick? i.e. is the real issue that you just don't want auto r

[2015-09-01 01:00] ewencp commented on #220
JSON Schema is nice and in some ways more powerful than Avro -- the validations make it a more complex spec, but make the requirements for data much clearer.

I think the biggest gap for JSON Schema is that (as far as I know) it doesn't have the same compatibility specification and tools, so they'd probably have to be implemented from scratch. The rest of the registry should look largely the same

[2015-09-01 15:10] ottomata commented on #221
Hmm, I think #122 is important, but that's not what I'm mean here.  I'm talking about limiting the 'subjects' (correct term?) that can be produced to any given topic.  Right now, I think you can do:

Subject A has schema ids: 10
Subject B has schema ids: 20

We want topic-A to only accept production of schemas in Subject A, and topic-B to only accept production of schemas in Subject B.

E.g.
[code

[2015-09-01 15:20] ottomata commented on #220
In my ideal world, yes?  I would love to be able to just convince everyone that they should use Avro and not worry about it, but there is so much JSON (and JSON Schema) in our org already, that in order to use confluent systems, I think we are going to have to support both JSON Schema and Avro.

[2015-09-01 16:22] ewencp commented on #220
Right, I totally get the need for JSON, it was more a question of whether you're adopting Avro at all such that a mixed mode is useful to you :)

[2015-09-01 16:25] ewencp commented on #221
I see. Confluent's serializers just bake this into the scheme used for generating subject names. Producers map the key and value when producing to a topic as `{topic}-key` and `{topic}-value`. So with Avro data, this should already be the case. This is the reason we use different terminology -- subject vs Kafka's topic -- on the schema registry (and besides, you could easily use it to manage schem

[2015-09-01 17:43] ottomata commented on #221
Yes, but I would like this restriction to be in place for any schema validated data, JSON Schema or Avro whatever future schema format.  I just want to ensure that consumers only get schemas that they expect.  For Avro, this would be anything within a versioned set of schemas (in a subject?).  For JSON Schema, I'm not sure.  Since JSON Schema doesn't have built in schema evolution, I'm not sure ho

[2015-09-02 23:22] steelmanreturnsnull opened #223 "Missing test src files?"
After running mvn install:
---
## Test set: io.confluent.kafka.serializers.KafkaAvroSerializerTest

Tests run: 6, Failures: 0, Errors: 6, Skipped: 0, Time elapsed: 0.015 sec <<< FAILURE! - in io.confluent.kafka.serializers.KafkaAvroSerializerTest
testKafkaAvroSerializerNonexistantSpecificRecord(io.confluent.kafka.serializers.KafkaAvroSerializerTest)  Time elapsed: 0.009 sec  <<< ERROR!
java.lang.E

[2015-09-03 19:29] ottomata commented on #220
Hm, related question.

Instead of JSON Schema, would it be easier to make the REST Proxy produce the JSON encoding of the Avro data and still validate that against a schema?

That is, instead of validating and converting the POSTed Avro-JSON records into Avro-Binary and then producing them to Kafka, could REST Proxy validate the Avro-JSON records and then produce them as is to Kafka, i.e. as JSON

[2015-09-04 17:13] ewencp commented on #223
@steelmanreturnsnull It looks like the Avro generated file has not been created. There is a maven build step for it. Are you building in Eclipse? Its maven plugin is apparently buggy and does not handle that build step properly: http://mail-archives.apache.org/mod_mbox/avro-user/201106.mbox/%3CBANLkTinO4Jybu065Uof8hWVJkmdXSnUXzA@mail.gmail.com%3E

[2015-09-08 01:42] gwenshap opened #224 "SchemaRegistryClient is undocumented"
SchemaRegistryClient looks like a public interface (and its implementations are public classes), and I suspect that the intent is that Java developers will use it to work with the Schema Registry. But it has no documentation, so it is unclear when and how to use it and whether the classes are meant to be a "real public" or "internal public".

[2015-09-08 04:33] ewencp commented on #224
@gwenshap At the moment, I think we're considering it "internal public". The Camus integration uses it to do schema projection (it needs to grab the latest version of the schema). Otherwise I think we've expected that most people's usage of the API would be via the serializers for now (or that it is trivial to construct the HTTP requests yourself if you need to). That said, I think it'd be good to

[2015-09-08 14:11] gwenshap commented on #224
Documenting it as internal is also fine... its just difficult to know with clients.

[2015-09-09 22:09] kristopherkane opened #225 "Jersey dep conflict with Hadoop 2.6"
I'd like to use the ClusterTestHarness in unit tests that also include unit tests for HDFS but I appear to have Jersey conflicts between the two (1.9 on the Hadoop side) - Have you all worked through any creative ways to do this?

Thanks.

[2015-09-10 22:15] afsheenb opened #226 "Can't build latest verson of schema registry"
I have an automated docker build that installs confluent; today I started receiving these errors on build:

git clone https://github.com/confluentinc/schema-registry && cd schema-registry && mvn install
Cloning into 'schema-registry'...
remote: Counting objects: 4816, done.
remote: Compressing objects: 100% (23/23), done.
remote: Total 4816 (delta 9), reused 0 (delta 0), pack-reused 4792
Receiving

[2015-09-10 23:04] afsheenb commented on #226
If I git reset 41b07a656acf56f67a0f96716bd014c8cad88070 --hard,  I can build without issue; 107abb02927f5cc9608a3823b2a33bbc22d881eb (" Update Kafka version to 0.8.3-SNAPSHOT so we can start developing using upcoming 0.8.3 features.") is where mvn starts to complain. Given the error is "we can't find the proper kafka jar version on mvn install", that'd do it.

[2015-09-11 00:39] ewencp commented on #226
@afsheenb This is expected. We recently switched to the 0.8.3-SNAPSHOT build of Kafka since we need new APIs -- we're adding support for Copycat which didn't exist in the 0.8.2 releases. You'll need to have a trunk build of Kafka available for this build for the time being. After the next Kafka release we'll switch it back to a released version which is available via Central or Confluent's Maven r

[2015-09-11 00:39] #226 closed

[2015-09-11 14:04] peterschou opened #227 "Example showing how to delete/remove a topic/subject from Schema-Registry"
I'm have some schema topics in in my Schema-Registry that I would like to remove.
I have not been able to figure out how to do this.

Can someone post an example of how to this?

Thanks
BR
Peter

[2015-09-12 00:05] cristianoub opened #228 "Error Start Schema Registry"
Hi folks! Today is my first day with confluent and I`m trying to install and run the Confluent QuickStart, following the path I downloaded the las version from confluent and executed the steps: with one on his on terminal in my mac.

1) Start Zookeeper
Command: `./bin/zookeeper-server-start ./etc/kafka/zookeeper.properties`
Result:

[code]

2) Start Kafka

Command: `./bin/kafka-server-start ./etc/

[2015-09-14 00:56] kristopherkane commented on #228
Hi.

It appears that the common-confluent package build is missing from the downloaded tar here: http://www.confluent.io/developer#download

I cloned common-confluent, switched to the 1.x branch and conducted 'mvn clean package' - then uploaded ~/common/package/target/common-package-1.0.1-SNAPSHOT-package/share/java/confluent-common to my un-tar'd installation under <install-dir>/share/java/

My g

[2015-09-14 11:15] miguno commented on #228
@cristianoub and @kristopherkane: Many thanks for your bug report.  The problem of the missing confluent-common package is fixed now.  Sorry for any inconvenience!

[2015-09-14 11:15] #228 closed

[2015-09-14 13:33] cristianoub commented on #228
Hi Kristopher TKs to replay and the help.

On Sun, Sep 13, 2015 at 9:56 PM, Kristopher <notifications@github.com>
wrote:

--
Cristiano Uniga Bajdiuk

[2015-09-14 13:34] cristianoub commented on #228
Hi Michael,

Tks for the fix!
Cristiano.

On Mon, Sep 14, 2015 at 8:15 AM, Michael G. Noll <notifications@github.com>
wrote:

--
Cristiano Uniga Bajdiuk

[2015-09-14 19:17] ewencp commented on #225
@kristopherkane Not sure there's a great solution to this -- this is just a limitation of trying to integrate multiple services that are meant to be standalone processes into a single process for testing.

To be honest, we're finding this approach to testing to not scale well -- it has been manageable for Kafka itself so far, but it quickly becomes a lot of overhead to try to test via integration

[2015-09-16 17:38] jdfree commented on #227
I second this. I understand the rationale for not making first-class "delete" functionality, but I can't help but notice that a "delete" does exist on the KafkaStore class and is used by this project's unit tests. Well, guess what? Any sophisticated user of this project is going to want to test the ability to process schema updates in production without hiccups, but such a test can't be done witho

[2015-09-17 18:19] rajim17 opened #229 "Incorrect path for log4j.properties in schema-registry-run-class script file in confluent-1.0-2.10.4 installations( osx/debian archives)"
Locating log4j.properties in zip file layout is incorrect
[code]
Here $base_dir already points to confluent directory. Searching log4j.properties under $base_dir need not navigate to "$base_dir/../etc/schema-registry/log4j.properties"  It should be as "$base_dir/etc/schema-registry/log4j.properties".  I see this got corrected in codebase. But debian/osx zip archives still has this issue. Do you ha

[2015-09-17 20:17] zoltan-fedor opened #230 "org.apache.kafka.common.config.ConfigException: No bootstrap urls given in bootstrap.servers"
I have setup two Confluent Kafka servers both with Schema Registry and when I started the Schema Registry on the first one, I got the following error:

`org.apache.kafka.common.config.ConfigException: No bootstrap urls given in bootstrap.servers`

It seems that at any given time I can only have one instance of the Schema Registry running within one Kafka cluster and the other one will exit with th

[2015-09-17 20:25] zoltan-fedor commented on #230
Sorry, now it seems the issue went away. Interesting, I have done a full reboot on both machines.

Still, it would be useful to understand this error message. What is the bootstrap url? Where to set it up? I couldn't find it in the docs nor in the code.

[2015-09-17 22:24] yushuyao opened #231 "Example for multi-node configuration"
Hi Folks,

Is there an example showing how to configure schema-registry for multi-node deployment?

Also, any suggestions for multi-datacenter deployments which have separate kafka clusters?

Thanks

[2015-09-18 19:43] zoltan-fedor opened #232 "Failed to write Noop record to kafka store"
I am running two Oracle Linux 6 servers with the full confluent setup (zookeeper, kafka, kafka-rest and schema-registry running on both) and around 80% of the times when I am starting shema registry I get the "Failed to write Noop record to kafka store" error:
[code]

At other times it dies right out of the gate with `No bootstrap urls given in bootstrap.servers` and `ERROR Server died unexpectedl

[2015-09-18 20:31] jdfree commented on #232
I have the "noop" issue 100% of the time today after not seeing it at all yesterday.

[2015-09-18 20:48] zoltan-fedor commented on #232
The same time when I get these "noop" issues from the Schema Registry, zookeeper registers end of session warnings, but I'm pretty sure that is just to register the fact that Schema Registry's request has timed out and not the "cause" of this issue.
In any case I thought I share it:

[code]

[2015-09-18 21:00] zoltan-fedor commented on #230
Interestingly it seems this issue is coming and going. Restarting the Schema Registry only gets this error to show up about 50% of the times.
Tried changing timeouts, but no help.

Anybody has an idea how to improve this?

[2015-09-18 22:11] ewencp commented on #230
@zoltan-fedor Internally the schema registry uses a Kafka producer and consumer. The Kafka producer needs a set of bootstrap brokers to get connected to the cluster. Since we already have zookeeper connection info, we just get the bootstrap brokers out of Kafka.

The error message you're seeing indicates that the list it's getting from Zookeeper is empty. If your Kafka cluster is up and running ok

[2015-09-18 23:06] zoltan-fedor commented on #230
Thanks @ewencp , this helps a lot.
I was testing the "Failed to write Noop record" (https://github.com/confluentinc/schema-registry/issues/232) issue, so I kept repeatedly restarting the whole cluster (2 servers each with kafka, zookeeper, kafka-rest and schema-registry) and was checking the schema registry log for the "noop" issue when I was seeing this boostrap urls problem and had no idea where

[2015-09-18 23:50] zoltan-fedor commented on #230
Well, it has happened again.

schema-registry-log:
[code]

kafka log is empty.

kakfa-zookeeper log on the two servers:
[code]

[code]

[2015-09-18 23:54] zoltan-fedor commented on #230
Sorry, also tried the producer and the below error was thrown:
[code]

[2015-09-21 01:57] ewencp commented on #231
@yushuyao Do the [design doc](http://docs.confluent.io/1.0.1/schema-registry/docs/design.html#single-master-architecture) and [multi-DC setup](http://docs.confluent.io/1.0.1/schema-registry/docs/deployment.html#multi-dc-setup) in Confluent's documentation cover what you're looking for? For multi-node deployment, you don't need to do much -- just using the same zookeeper URL should work fine. For m

[2015-09-21 17:14] jdfree commented on #232
I have verified that the error is kafka-side.

[2015-09-21 18:42] granders opened #233 "throw exception if bootstrap brokers list is empty, and log bootstrap brokers"
Some users of schema registry have experienced connectivity issues either to zookeeper or kafka. A few small changes could help make debugging this slightly clearer/easier.

Schema Registry queries zookeeper to get the list of bootstrap brokers. It is an error condition to have an empty list here, so it would be helpful for future debugging to throw an exception here.

Also, we should log the list

[2015-09-21 18:52] granders commented on #232
Hi @zoltan-fedor and @jdfree

To date, we've seen two causes of this type of issue:

First, connectivity issues - if schema registry can't open tcp connections to zookeeper and kafka brokers, it will not be able to start. Can you verify the you can open tcp connections to kafka brokers and zookeeper nodes from the schema registry machine(s)?

Try:
[code]

Also, given that `broker.list` is empty, t

[2015-09-23 06:22] ppearcy commented on #230
I've also hit this exception. This is pretty much a hunch, but it looked like a race condition where Kafka would start and open TCP connectivity, but not yet be registered with zookeeper. Adding just a 5 second sleep before starting schema registry resolved for me.

[2015-09-23 08:27] miguno commented on #229
@rajim17: As you said this bug is already fixed in the code, and will be released as part of our upcoming next Confluent Platform release (the release date is not yet announced).

[2015-09-23 08:49] miguno commented on #229
PS for @rajim17: As an interim fix you may try to simply grab a copy of the fixed `bin/` scripts and then replace the existing `bin/` scripts in your local installation with the fixed variants.

[2015-09-30 17:34] rajim17 commented on #229
Ok.. Thanks... I have changed locally.. was expecting new Debian package for 1.0 itself.. Thats ok. I already patched it in our environment.

[2015-09-30 17:34] #229 closed

[2015-10-01 16:36] yushuyao commented on #231
@ewencp, the documentations are very helpful. Thanks!
One follow up, how much hardware should one provision for schema registry? If I have a multi data center setup, how many servers should I use in each data center? Is there a max/min suggested number?
Also, what is the expected performance of the schema registry? (e.g. how many read operations per second per node?)

Thanks a lot!

[2015-10-02 00:46] zoltan-fedor commented on #232
I have created services out of Kafka, Zookeeper and the Schema Registry and it seems the problem was that they might start too quick, so Zookeeper is not yet fully ready to receive and cause the Kafka brokers to fail and so the Schema Registry doesn't start either.
Adding delays solves it.

[2015-10-02 00:58] zoltan-fedor commented on #230
Agreed, it turn out to be the same thing. I had Kafka, Zookeeper and the Schema Registy starting at boot automatically a services and sometimes this error rose. If I delayed the start then it worked more reliably.

I agree with this enhancement request (https://github.com/confluentinc/schema-registry/issues/233) better, more leading error code would be beneficial.

[2015-10-02 00:58] #230 closed

[2015-10-02 15:33] ewencp commented on #231
@yushuyao The schema registry is a pretty lightweight service. Most operations are going to be reads since schema updates are relatively rare. You'll want to allocate at least two schema registry nodes to ensure availability in case of faults. There's not a specific maximum, you'll want as many nodes as you're comfortable with to avoid any downtime. For performance, I don't have specific numbers,

[2015-10-02 20:00] #231 closed

[2015-10-07 22:41] jramapuram commented on #172
Can someone please provide an example of how to use the REST proxy without providing a schema? I see there is a field `value_schema_id` & I have found the right ID that I need however I keep getting `500`s

[2015-10-08 19:55] apg commented on #199
I'd like to propose an alternative solution, which is to allow the fallback to the value in an environment variable. Will send a PR, as we're running into this exact issue as well.

[2015-10-09 19:31] zoltan-fedor commented on #232
Well, the next time I was restarting the Schema Registry the same issue came back again.

Yes, I can connect to the zookeeper issues (all 3 of them).
There is only one kafka instance running, but that doesn't report any issues and Kafka Rest has connected to it fine.

Kafka only logs the fact that it lost the socket connection from the Schema registry, nothing else.

Below are the different errors

[2015-10-09 20:39] zoltan-fedor commented on #232
It seems the issue was coming from problems with the _schema topic.

I have created a new topic in kafka called _schema2 and changed the kafkastore.topic parameter in schema-registry.properties to this new schema and since then the Schema Registry is starting reliably.

It would be nice to have better error logging than just saying "Failed to write Noop record to kafka store."

[2015-10-09 20:39] #232 closed

[2015-10-16 14:38] mquirin commented on #209
To be fair, the documentation says, that only the **latest schema** is checked against the new schemas (http://docs.confluent.io/1.0.1/schema-registry/schema-registry/docs/config.html#schemaregistry-config).

I agree that this is a big issue: Once you have more than 2 versions you can not be sure any more that compatibility between your producers/consumers is maintained. This severely limits the u

[2015-10-16 16:07] granders commented on #209
@mquirin right, although it is worth noting that "almost all" incrementally compatible schema changes are transitively compatible. This is one of the couple exceptions that we're aware of.

[2015-10-20 13:21] mquirin commented on #209
@granders Do you think it would feasible to implement this as a configuration option? From how it looks to me all the past schemas are loaded anyway while checking the last schemas, but are just not compared.

[2015-10-21 16:13] toidi opened #238 "Unable to build RPM"
Steps to reproduce:
1. git clone https://github.com/confluentinc/schema-registry.git && cd schema-registry
2. git checkout v1.0.1 -b build
3. git merge rpm-v1.0.1
4. make

[code]

[2015-10-21 21:59] yushuyao opened #239 "metadata for each schema"
Hi Folks,

In a lot of use cases, in addition to the schema definition it self, we want to have a set of metadata related to each schema. E.g. what does this schema do? what does each field in the schema mean? Or, for records with this kind of schema, we want a retention time of 30 days, etc, etc.

Is there a way to incorporate this into the existing Schema Registry? E.g. as a hack, is there a way

[2015-10-27 03:53] yushuyao opened #241 "How to use Schema-registry with SSL?"
Hi Folks,
I can successfully compile schema-registry (2.xx) branch with Kafka (0.9.x), and run them together.
Is there way to config schema-registry work with Kafka via SSL?
Thanks
-Yushu

[2015-10-27 16:24] ewencp commented on #241
@yushuyao This isn't implemented yet. I believe that we're now extracting SSL connection URLs if they are available in Zookeeper. However, you also need to set a bunch of other configs to get SSL connections working and [right now the KafkaStore class only sets specific configs and doesn't have a way to override others](https://github.com/confluentinc/schema-registry/blob/a96cbdb3560021bff670e57cf

[2015-11-09 22:22] yushuyao opened #246 "Schema Registry over HTTPS"
Hi Experts,
Is there any documentation on how to use Schema Registry over HTTPS?
If it's Jetty based, we should be able to configure it to use HTTPS, right?
Thanks
-Yushu

[2015-11-10 19:23] abansal85 opened #248 "Schema Registry Lookup error after a failover from a dead master to a slave"
Hello,
I have 2 nodes running schema-registry ( one master and another slave). I have seen when master node dies, the slave becomes the master( which is good). But we tried to Produce a message using Avro embedded data using kafka-rest, i keep on getting schema-registry look up failed error. Do anyone knows whats causing that.

Thanks.

[2015-11-11 05:35] yushuyao commented on #248
do you have the full log?

[2015-11-11 21:20] AdamDz commented on #220
+1 for JSON Schema support. The Confluent Platform is Avro-centric, which limits its usage. We are building a platform that has API specification in RAML and JSON Schema, and don't want to maintain definitions of data types in two formats.

[2015-11-13 18:50] ngoyal opened #249 "api.rst - is_compatible shows incorrect response"
The response in the docs show it as:

[code]
What was seen is that it returns:

[code]

[2015-11-18 12:08] miguno commented on #249
Thanks for reporting, @ngoyal!

[2015-11-18 12:08] #249 closed

[2015-11-18 18:52] bcotton opened #250 "Schema ID strategy complicates deployment topologies"
Reviewing the architecture of the schema-registry, specifically in a multi datacenter deployment where there can only be a single master node, leads to overly complex deployment architectures.

Schema IDs are global, monotonically increasing integers that can only be handed out by a single master instance of the schema-registry. This complicates deployment topologies in both hot-cold and hot-hot d

[2015-11-19 15:39] steven-aerts opened #253 "Incompatible changes with records in unions are not detected"
I think I found an issue with the schema compatibility checking of avro schema's.
An incompatible record evolution wrapped in a union is ignored by the registry.
This is clearly incompatible according to the avro schema evolution rules.
It is also flagged as incompatible when I use `checkReaderWriterCompatibility(reader, writer)` from avro.

I created a unit test which demostrats this issue:

[cod

[2015-11-23 10:04] steven-aerts commented on #253
Looking at the code again I bumped into a related problem with the current code.

The following assert should fail:
[code]
as ``schema1`` and ``schema4`` are compatible, because ```schema4``` contains an alias for the renamed field ``f1``.
However the current code and its test claims that it is not.

[2015-11-23 21:29] junrao commented on #250
Bob,

Thanks for reporting this. Just a few clarifications on the current design.

1. In our api, each schema does gets a unique id based on the MD5 of the canonicalized schema string. So, if the same schema is registered under different subjects, you will get back the same schema id.

2. When registering a schema under a subject, each schema also gets a version id within that subject. Since we ne

[2015-12-09 17:46] devinrsmith opened #265 "Why does KafkaAvroDeserializerConfig.SPECIFIC_AVRO_READER_CONFIG not default to true?"
Why does KafkaAvroDeserializerConfig.SPECIFIC_AVRO_READER_CONFIG not default to true?

It took me a while to figure out why my deserializers weren't working, as they were throwing this error:

`Exception in thread "main" java.lang.ClassCastException: org.apache.avro.generic.GenericData$Record cannot be cast to com.example.api.core.data.InterestRecord`

At the very least, I think the documentation

[2015-12-09 18:04] ewencp commented on #265
@devinrsmith That option is new in the newest release. In order to remain backwards compatible, the setting cannot default to true.

Regarding documentation, agreed that this should include details for the new consumer too.

[2015-12-11 19:38] rajim17 opened #266 "Attach sources jar also for maven artifacts"
Hi,
  I'm in the process of upgrading confluent jars to 2.0.0. Source jars are missing in maven repo. It is very difficult to debug and find out the details of classes and methods. Please upload source jars also to maven repo.

Thanks
Raji

[2015-12-11 19:57] eugenemiretsky opened #267 "AvroDate.toConnectData not handling optional fields with null value properly"
If the Connect Schema is optional, toConnectData() should be able to handle null values (by just returning a null value). This doesn't work for STRING, BYTES, ARRAY, STRUCT and  MAP.

I may be missing something, but can't we just check if a value is null, and return null if the schema is optional for all types?

Something like this should work :
[code]

I can create a pull request for this, but I

[2015-12-16 03:35] mingzhou opened #269 "KafkaAvroSerializer KafkaAvroDeserializer handler ReflectData"
AbstractKafkaAvroSerializer is using GenericDatumWriter/SpecificDatumWriter. Does it support ReflectData?

Can I serializer/deserializer a POJO?

[code]

It throws org.apache.kafka.common.errors.SerializationException: `Error serializing Avro message
Unsupported Avro type. Supported types are null, Boolean, Integer, Long, Float, Double, String, byte[] and IndexedRecord`

[2015-12-16 05:34] Mr-Giraffe opened #270 "Can not rollback the old schema as the newest version under the same subject"
In our job, we prefer to use the "getLatestScheamMetadata", but we can not reset the old schema as the newest version under the same subject by pushing this old schema again. For example, we push two versions, A and B, to the subject "Test", but now we want to reset the version "A" as the newest version.

Our solution is to add a param called "override" to the "RegisterSchemaRequest". When this va

[2015-12-16 12:01] Mr-Giraffe opened #271 "Not check the existence of subject"
Hi,
The mechanism doesn't check whether a subject is already exist when posting a schema under a new subject. This may cause problems.

For example, user 1 created a subject called "Test" and posted a schema "A" in it. The version of "A" is 1. Now user 2 also want to create a subject called "Test" and push his own schema "B". If schema "B" is compatible with schema "A", then user 2 is successful.

[2015-12-16 16:30] jh12z opened #272 "NullPointerException when using Avro converter"
I'm using kafka connect with the Avro converter and getting a ```NullPointerException``` when my string fields in a Struct have ```null``` values.

This is the exception thrown in which I can see that ```AvroData``` cannot handle ```null``` values propertly. Is there anything wrong on using nulls?

[code]

[2015-12-17 20:25] ewencp commented on #175
Fixed by 49b85307bd2183172fd3a8264ee39d666f9af423

[2015-12-17 20:25] #175 closed

[2015-12-18 15:12] ojow commented on #272
I have the same problem, after importing data from JDBC Source Connector I tried to use HDFS Connector on the results and got the exception.

[2016-01-05 15:50] fredcons commented on #227
+1 on this request, being able to clean up old schemas looks like a pretty reasonable idea

[2016-01-05 20:29] yushuyao commented on #227
+1
On Tue, Jan 5, 2016 at 7:50 AM Fred Cons <notifications@github.com> wrote:

[2016-01-08 18:39] ewencp commented on #267
This seems related to #272 and the patch in #273. `toConnectData(org.apache.avro.Schema, Object)` already performs a check for null values, but I think you're probably encountering this when an optional schema is nested in another collection type? This results in recursively calling `toConnectData(Schema, Object)`, which doesn't seem to have the same check.

Can you check if the patch in #273 fixe

[2016-01-15 15:25] Arttii commented on #272
Hi,

We are experiencing the same problem. E.G for the Schema

    {\"type\":\"long\",\"connect.version\":1,\"connect.name\":\"org.apache.kafka.connect.data.Timestamp\"}]}

if we have

    "expiration_date":null

in a row coming from the JDBC we get the same exception in using a FileSink or the HDFS Sink.

[2016-01-15 18:38] ewencp commented on #272
@Arttii That schema isn't marked optional, so there shouldn't be nulls, right?

That said, if part of the issue is nulls for non-optional schemas, that might help track down the problem.

[2016-01-18 11:16] Arttii commented on #272
Hi,

The fields in question are nullable in the Msql database we are connecting to. We tried solving this by creating say a VIEW on the DB, but then the JDBC does not seem to detect the views are present. Maybe the DB schema should be changed,but I am not sure.

Currently it seems to be the problem lies in the [toConnectData  ](https://github.com/confluentinc/schema-registry/blob/master/avro-conve

[2016-01-20 18:54] aalkilani commented on #227
+1.. bummed this doesn't exist

[2016-01-21 21:42] jdfree commented on #227
+1; already built something like this ourselves for testing.

[2016-01-27 03:41] eugenemiretsky commented on #267
Hi,

The patch works.

However, (as you suggested in the comments), we solved it with just one check in the beginning (line 816)
[code]

[2016-01-27 03:43] eugenemiretsky commented on #267
Will add a test case for null nested Structs

[2016-01-27 17:34] pronzato opened #277 "Schema Registration Failure (due to RecordTooLargeException)"
Hi All,

We have a large schema that is failing to register due to what looks to be a RecordTooLargeException being thrown by the KafkaStore (full StackTrace below).

The cause being reported back to my client is "The message is 1724096 bytes when serialized which is larger than the maximum request size you have configured with the max.request.size configuration".

I've tried changing the MAX_REQU

[2016-01-27 18:11] ewencp commented on #277
@pronzato That definitely looks like you're exceeding the permitted size. Unfortunately addressing this is more complicated than just changing that one setting because the message is larger than the default size permitted by Kafka. You'd need to change the maximum message size permitted on the `__schemas` topic with a topic-level config, then have schema registry allow larger messages in both its

[2016-01-27 18:33] pronzato commented on #277
Hi Ewen,

Thanks for getting back to me so quickly.  I was able to build the schema-registry from source and and support to pass in the "max.request.size" for the Producer and "fetch.message.max.bytes" for the Consumer.  That combined with changing the Kafka server config "message.max.bytes" and "replica.fetch.max.bytes" seems to have done the trick and we're able to now persist our large schemas.

[2016-01-27 18:44] ewencp commented on #277
@pronzato Glad that worked. I'm not sure we want to expose *every* producer/consumer config. That makes more sense for something like REST where it's supposed to be a light wrapper around the clients. Here, the use of Kafka is an implementation detail, and even which version of the clients (old vs new producer/consumer) may change, which would mean the config names could also change.

I think in t

[2016-01-27 19:23] pronzato commented on #277
Yes, totally agree with you that not all configs should be exposed, just the ones which would allow the larger message sizes (and possibly any timing related ones that might be affected due to the larger messages).  Using different terminology is also a good idea to remove the tie in to the Kafka specific config names.

Thanks for the topic config link, will take a look.

Regards

Gianni

[2016-01-28 17:10] dossett commented on #158
Regarding @ewencp's comment "If you try to re-register under the same subject you'll get back the old ID."  Is that documented behavior that can be relied upon?

Thanks!

[2016-01-29 18:17] george24601 opened #279 "Why KafkaAvroDecoder doesn't accept a type parameter/generic?"
I am curious why KafkaAvroDecoder implements Decoder<Object> instead of something like Decoder<T extends Object>.

Context: to create a Kafka/Confluent stream in Spark

[code]

Because KafkaAvroDecoder implements Decoder<Object>, I can not pass my own type variable to the createDirectStream() call. This means I will have to do a manual cast/map later with TypeTag.

[2016-01-29 18:52] ewencp commented on #279
@george24601 The `Object` return type ensures that you can use it with any of the decodable types since it needs to support returning primitive types and specific/generic records. This guarantees it works without throwing `ClassCastException`s if the wrong type of object is encountered.

The interface is very small, so it shouldn't be much effort to wrap it with a generic class where you can speci

[2016-01-29 20:07] george24601 commented on #279
Agree on the solution part.

In the case you described, why is ClassCastException not desired behavior? Downstream processing has to deal with incompatible type problems anyway. The only case I can think of is that a single source DOES give different types, and Object is used to represent the union of their types.

[2016-02-02 12:38] ponzao commented on #142
We ran into this issue today. Any idea when this will be released?

[2016-02-02 18:39] pronzato opened #281 "Multiple schemas on same topic?"
Hi Ewen,

I'm able to publish and consume a single Avro message type with the KafkaAvroSerializer/KafkaAvroDeserializer and the Schema Registry.  However, I'm now trying to send different message types (each with a different schema) on the same Kafka topic but get incompatible schema exceptions when I send the second message type on the same topic:

org.apache.kafka.common.errors.SerializationExce

[2016-02-02 18:57] pronzato commented on #281
Is the solution to change the AbstractKafkaAvroSerDe.getSubjectName(String topic, boolean isKey) method to something like this where we encode the message type in the subject?

(this seems to work but apologies if my understanding of subjects is incorrect)

  /**
   * Get the subject name for the given topic and value type.
   */
  protected static String getSubjectName(String topic, boolean isKey

[2016-02-03 21:27] GautamGupta commented on #142
+1

[2016-02-10 16:12] thieman opened #284 "Cannot set max.schemas.per.subject due to cast exception"
I attempted to add `max.schemas.per.subject=5` to my properties file (using the REST proxy, should that end up mattering). Doing so results in a crash on startup with the following message:

[code]

I'm not sure why the process swallows any other helpful stacktrace information. I think the error might be here, but I'm a total Java novice so I might be mistaken: https://github.com/confluentinc/sche

[2016-02-10 16:22] thieman opened #285 "Memory leak and eventual errors due to bad IdentityHashMap"
I encountered this bug through the REST proxy, but I tracked the cause down to this library. Relevant code is here: https://github.com/confluentinc/schema-registry/blob/master/client/src/main/java/io/confluent/kafka/schemaregistry/client/CachedSchemaRegistryClient.java#L79

The `register` method of `CachedSchemaRegistryClient` uses an `IdentityHashMap` to store a cache of schemas to their numeric

[2016-02-11 13:04] aviflax commented on #265
I’m trying to integrate `KafkaAvroDeserializer` into the new consumer as well, and an example of doing so in the docs would be very helpful.

[2016-02-16 04:05] ewencp commented on #267
Closing as this seems to have been resolved.

[2016-02-16 04:05] #267 closed

[2016-02-17 03:05] dossett opened #288 "SchemaRegistryClient should provide a wrapper around RestService.getVersion()"
perhaps `getBySubjectAndVersion(String subject, int version)`

[2016-02-17 14:53] dossett commented on #285
@thieman It is best to approach questions like this with a great deal of humility. Instead of assuming it's a critical bug, you would be better served to investigate and research why that interesting design decision was made, and what the tradeoffs were that led to that decision.  Bugs can crop up anywhere, of course, and you should never assume that code is correct as written.  It's a tough balan

[2016-02-17 15:03] thieman commented on #285
The problem is encountered sending legitimate and normal requests through Confluent's REST proxy. If it's not a bug with this repo, it's a bug with the REST proxy, both of which are maintained by Confluent. If schema registry decided to push this effort to the application, which according to #172 they did, then the application (REST proxy) needs to account for it.

I'm fine taking the bug there in

[2016-02-17 15:05] thieman commented on #285
For those following at home, REST proxy issue is here https://github.com/confluentinc/kafka-rest/issues/91

[2016-02-17 15:10] thieman commented on #285
The impact of this problem is also exacerbated by #284.

[2016-02-22 20:29] jdfree opened #292 "kafkastore.connection.url should allow multiple urls"
It would be beneficial for the kafkastore.connection.url configuration property to support the specification of multiple addresses for zookeeper so as to work with a zookeeper cluster with multiple instances. I cannot see that this is currently supported, but without it, the url specified is a single point of failure.

[2016-02-23 02:21] junrao opened #293 "AvroMessageFormatter needs to upgrade to new interface in MessageFormatter after KIP-32"
MessageFormatter interface was changed from
<code>void writeTo(byte[] key, byte[] value, PrintStream output)</code> to
<code>void writeTo(byte[] key, byte[] value, long timestamp, TimestampType timestampType, PrintStream output)</code> in KIP-32 in Kafka 0.10.0.

[2016-02-24 19:09] yushuyao opened #294 "Schema Registry vs. Schema Repository"
Hi Folks,

Most people agree that we need to enforce schema, and that's great!.

But seems like some people prefer a centralized service like the schema registry, some other folks prefer having all schema as avsc files and do source control over them in git, and distribute as part of code.

The latter approach seems to make sense: if you want to produce data with new schema, you'll need a code cha

[2016-03-02 20:04] ecesena opened #295 "Support for Thrift schemas"
Hi,

I was wondering if there is any plan for adding support to Thrift schemas instead of Avro (as a global, initial config of the infrastructure)?

If yes, any idea of a rough timeline?

If no, could you elaborate if there is any strong reason against Thrift, for instance things that can be done in Avro and not in Thrift and the platform relies on? (I noticed also in other components that having

[2016-03-03 02:05] samjhecht commented on #295
Hi Emanuele,

Unfortunately we don't have a timeline on adding support for Thrift and it's not something we're currently working on.  Generally speaking, we don't have any strong reason against Thrift and did in fact consider it a while back.  We would certainly be open to accepting PRs with support for it ;).

Best,
Sam

[2016-03-04 14:19] ijuma commented on #293
This was fixed in https://github.com/confluentinc/schema-registry/commit/04d49236f49194901550f2e8403d86e27b34bf86

[2016-03-04 14:19] #293 closed

[2016-03-07 14:43] #279 closed

[2016-03-07 15:09] george24601 opened #299 "If _schemas topic is not using log compaction, why not make it an error and/or hard-fail?"
In
https://github.com/confluentinc/schema-registry/blob/master/core/src/main/java/io/confluent/kafka/schemaregistry/storage/KafkaStore.java#L215
,
we only log a warning if _schemas is not using log compaction.

In one of our deployments, this warning slips through and as a result some schema ids become invalid after running for 2 months.

In my opinion, failing the retention policy check should lo

[2016-03-07 16:16] ecesena commented on #295
Thank you, this is good information. I'll let you know what we decide internally.

[2016-03-07 16:16] #295 closed

[2016-03-09 00:18] mnouh commented on #227
+1

[2016-03-15 08:25] evan-git opened #301 "class io.confluent.kafka.schemaregistry.client.rest.entities.ErrorMessage] from Integral number (404)"
when i start the Avro console producer,

[code]

and type some messages,like:

[code]

then,something wrong,

[code]

[2016-03-16 05:58] wushujames commented on #150
@ewencp, did this ever make it into Confluent Platform 2.0?

[2016-03-16 07:10] ewencp commented on #150
@wushujames Unfortunately, not yet as far as I know. I've explained it once or twice on the mailing list, but it hasn't made it into the docs yet.

If you're curious, the format is simple: magic byte (currently 0), 4 byte integer schema ID, avro serialized bytes.

[2016-03-17 07:11] forsberg commented on #150
Can it be assumed that the 4 byte integer schema ID is always in big endian order?

https://docs.oracle.com/javase/8/docs/api/java/nio/ByteBuffer.html says the initial order for a ByteBuffer is big endian, and I see no change of that in AbstractKafkaAvroSerializer so I guess it will always be big endian. Nevertheless, byte order for the integer should be part of the documentation.

[2016-03-17 16:42] pxLi commented on #272
Same problem here.
If you guys follow the tutorial http://www.confluent.io/blog/how-to-build-a-scalable-etl-pipeline-with-kafka-connect,
1. setup and start service as it said.
2. create table, insert records.
3. start connect
4. insert a record with a null column, e.g. (without column 'department')
[code]

NullPointerException came out.
[code]

Any idea?

[2016-03-17 17:48] saykalik commented on #153
@b you are correct this is more of a Kafka concern not schema registry however I disagree that schema  registry allows this.  Schema registry allows the well defined schema of a payload however that doesn't define a standardized way for metadata/headers to be passed with the message.

For instance I want to allow producers to choose any payload they want (json, binary, text, etc...) however I want

[2016-03-17 18:02] b commented on #153
Reviving an ancient thread! But, yes, I agree that specific functionality is valuable.

[2016-03-18 09:09] timstott commented on #142
+1

[2016-03-18 10:45] luinix commented on #142
+1

[2016-03-22 12:27] martinboyleie commented on #253
Also seeing the same issue.  Think it needs to be resolved in the Avro library.  Logged https://issues.apache.org/jira/browse/AVRO-1815

[2016-03-22 23:28] enak commented on #232
I am getting the same error messages after upgrading to Schema Registry 2.0.1 from 1.0. I followed the [upgrade documentation](http://docs.confluent.io/2.0.1/upgrade.html) on the Confluent site; I upgraded _all_ of the brokers before the schema. More information about the schema registry during the upgrade process would be helpful.

There seems to be something wrong with my existing _schema topic

[2016-03-24 10:15] ponzao commented on #142
This issue has been outstanding for over a year and we are running into this constantly. Could we get an update on if something will be done about this? We can provide a PR if necessary.

[2016-03-24 10:24] ddippolito commented on #142
+1

[2016-03-26 00:21] jdehrlich opened #304 "Undocumented ability to get schema id from schema registry by subject name"
According to
http://docs.confluent.io/1.0/schema-registry/docs/api.html#get--subjects-(string- subject)-versions-(versionId- version)
when we call schema registry for a particular schema by subject name we can only expect
name (string) – Name of the subject that this schema is registered under
version (int) – Version of the returned schema
schema (string) – The Avro schema string
However, when mak

[2016-03-30 08:31] markdav commented on #294
@yushuyao the main reason for us is change.. it's awkward to upgrade all consumers at the same time as the producers.  So if we upgrade producer from X to X+1, we first need to ensure that all consumers for X have been shut down and are at the top of the topic, then release the new producer and finally the new consumers.  Avro seems to be a pretty simple/dumb mapping of fields to values based on p

[2016-03-30 08:37] markdav commented on #281
You can set compatibility rules per topic/subject so that schema compatibility isn't enforced.

See: http://docs.confluent.io/2.0.1/schema-registry/docs/api.html#put--config-(string- subject)

[2016-03-30 08:41] markdav commented on #270
+1 would be good to have this option (or even a DELETE version).

[2016-03-30 11:25] markdav commented on #246
duplicate of https://github.com/confluentinc/schema-registry/issues/241

[2016-03-30 11:27] markdav commented on #227
+1

[2016-03-30 11:41] markdav opened #308 "Feature: enable support for alternative schema stores"
The schema registry uses kafka as the schema store, which makes sense as it's geared towards environments with Kafka in-situ.  However it seems that versioning of avro schemas as a service it not fundamentally related to kafka but is a problem space in its own right.  It might be useful to be able to configure the schema registry against alternative stores in the following situations:

- for sites

[2016-03-30 16:25] ewencp commented on #308
@markdav I think the necessary interface is already there -- `io.confluent.kafka.schemaregistry.storage.Store` is the interface, `KafkaStore` is the only "real" implementation currently, and `InMemoryStore` is used both in `KafkaStore`'s implementation and for testing. I think the biggest issues would simply be around configuration and then how we'd handle additional implementations (given the num

[2016-03-30 16:26] ewencp commented on #246
@markdav Thanks for noticing the dup, closing in favor of the #241

[2016-03-30 16:26] #246 closed

[2016-03-30 16:41] ewencp commented on #281
Yes you can control compatibility as @markdav suggests.

Re: subjects, the schema registry is not tied only to use with Kafka, so we use the name "subject" to express a series of related schemas, where "related" generally means you'll find messages with different versions possibly mixed together in the same dataset. With Confluent Platform you'll mostly see subjects that contain the schemas for ke

[2016-03-30 16:41] #281 closed

[2016-03-30 17:02] ewencp commented on #294
To add a couple of points to @markdav's explanation:

1. The schema registry with serializers allows for dynamically verifying compatibility. This is an added level of protection -- standardizing on using the serializers is very simple even in a large organization, but validating compatibility across all code for an entire organization can become quite difficult. The schema registry adds this chec

[2016-03-30 17:02] #294 closed

[2016-03-31 09:35] Deadlus opened #309 "Bad deserializatoin when using BYTES schema"
Checked on versions 2.0.1 and 2.1.0

When sending raw bytes through AvroConverter, AbstractKafkaAvroSerializer will use a BinaryEncoder, which put the length of the byte array before the actual bytes.(see AbstractKafkaAvroSerializer.serializeImpl(String, Object) line 57+).

But  when deserializing, the AbstractKafkaAvroDeserializer will **not** use a BinaryDecoder, and will return all the bytes it

[2016-03-31 12:04] nathan-zhu opened #310 "ERROR Processor got uncaught exception. (kafka.network.Processor)"
Hi, All i got error like below in cluster.

[code]

try to find way to fix it, check on apache kafka issue, get this similar.
https://github.com/apache/kafka/pull/501

but how to fix it in conluent2.0? any one can help? thanks.

[2016-04-01 00:23] ewencp commented on #310
@nathan-zhu I'm not sure how that stack trace is related to the PR you linked to. It looks like a classpath error -- the jar containing the `kafka.network.RequestChannel$` class (which is the core Kafka jar) is missing. How did you install and how are you running?

[2016-04-01 02:16] nathan-zhu commented on #310
Hi, @ewencp  i download the confluent2.0 package
http://packages.confluent.io/archive/2.0/confluent-2.0.1-2.11.7.tar.gz
run it on centos6.

[2016-04-05 14:55] zborisha opened #311 "support for nested avro schemas"
Any chance support for nested avro schemas is planned. Something like this:

{
    "name": "person",
    "type": "record",
    "fields": [
        {"name": "firstname", "type": "string"},
        {"name": "lastname", "type": "string"},
        {
            "name": "address",
            "type": {
                        "type" : "record",
                        "name" : "AddressUSRecord",

[2016-04-06 04:18] AkshathPatkar opened #312 "Schema registry server binds to all interface upon start."
Hi,
How can we start a schema registry server to listen only to local host rather than all interface.

[2016-04-08 04:17] AlexeyRaga commented on #227
+1

[2016-04-08 05:04] newhoggy commented on #227
+1

[2016-04-08 15:03] aragnon opened #313 "NotEnoughReplicasException"
I get the below exception (after which the schema-registry exits), but the exception doesn't print out the numbers of required replicas nor the number of insync replicas. This would essentially force me to build the schema-registry from source in order to find those values; *not* something you should require your users to go through.

In the meanwhile, I would appreciate a hint as to what's wrong.

[2016-04-08 16:30] ewencp commented on #313
@aragnon I'd suggest using the `kafka-topics` command to determine the current state of replicas for the `_schemas` topic (or whatever topic you are using if you changed the setting `kafkastore.topic`). Here's how I used it on the a local set of test services:

[code]

The root cause exception (`NotEnoughReplicasException`) indicates the in sync replicas for the topic partition has fallen below `m

[2016-04-10 10:54] alextsm opened #314 "Specific avro schema for specific file or topic"
Hello,
I’m using schema-registry, kafka connect standalone (avro) and file connector (connect-file-source.properties).  Each string in my file is JSON. A Schema-registry process  always created schema like «"schema":"\"string\""}». How can I set specific avro schema for specific file or topic?

[2016-04-11 17:56] markdav commented on #311
does this not work already?

[2016-04-11 17:57] markdav commented on #292
+1 similarly, on the schema registry serializer side it would be nice to be able to specify multiple schema-registry.url endpoints - would save the addition of a load balancer.

[2016-04-12 00:22] ewencp commented on #314
@alextsm The file connector is currently intentionally very simple and only treats each line as a string. There are a few reasons for this, but consider how many formats it would have to support if we supported parsing JSON -- yaml, CSV, various log file formats, etc would all be fair game. For these types of transformations it will make more sense to create a specialized connector, or, once Conne

[2016-04-12 01:29] ewencp commented on #292
@markdav I think the serializer side has been fixed for quite awhile in AbstractKafkaAvroSerdeConfig. If it isn't working for you we want to know more about the configuration -- that was an accidental but important oversight in the first release.

In both cases, a load balancer/round Robin DNS/etc are a great solution, but a list of servers/URLs should also be supported.

[2016-04-12 09:28] zborisha commented on #311
It actually does - there was some problem on my side.

thanks

[2016-04-12 09:28] #311 closed

[2016-04-12 09:59] aragnon opened #315 "Wait to catch up until the offset of the last message at 9"
I found this message in `schema-registry.log`.

`Wait to catch up until the offset of the last message at 9`

I have absolutely no idea what this message is supposed to mean exactly, nor how to resolve it. The notion of having to "catch up" on a machine where *nothing* is happening is rather lame to begin with. It's like the software is saying "We are waiting for nobody; please wait". Why would yo

[2016-04-13 04:01] jsvisa opened #316 "KafkaStoreReaderThread failed to reach target offset within the timeout interval"
I'm running two Schema-registry node, the two config looks as below:

[code]

after the first node started, the second node starting as failed with logs:

[code]

What I'm missing?

[2016-04-13 04:47] Ishiihara commented on #316
@jsvisa Can you try to increate `kafkastore.init.timeout.ms`` to see whether the issue is resolved or not?

[2016-04-13 05:10] jsvisa commented on #316
@Ishiihara seems no effect, increase it to 12 second, also failed

[code]

[2016-04-13 05:19] jsvisa commented on #316
@Ishiihara I've got the reason, seems I have to config the `host.name`, when I configure it as an valid, the registry in node2 runs well.

But one more question, If I config the `host.name` with something like below:

[code]

[code]

the log show Registy use the `host.name` as part of the Kafka group id? It's wired.

[2016-04-13 05:30] Ishiihara commented on #316
The `KafkaStoreReaderThread` uses the old Kafka High Level consumer to consumer data from Kafka, The `group.id` of the consumer is determined by the host and port which uniquely identifies the group.

[2016-04-13 06:06] jsvisa commented on #316
@Ishiihara If I'm not setting the `host.name`, the `group.id` is the same as the first one,  the  `KafkaStoreReaderThread` can't get any data within the topic which only has one partition. So the `KafkaStoreReaderThread` timeout.

[2016-04-13 06:30] jsvisa commented on #316
@Ishiihara Thanks for your reply

[2016-04-13 06:30] #316 closed

[2016-04-13 10:49] alextsm commented on #314
Thanks

[2016-04-13 10:49] #314 closed

[2016-04-18 17:18] markdav commented on #292
ouch! that's great!  Would you believe I hadn't checked to verify - I'll test it right away!!

[2016-04-18 20:20] fmonniot commented on #209
Any updates on that issue ?
Can we expect a configuration option to be able to validate on all schemas ?

[2016-04-26 17:51] zoltan-fedor opened #321 "Cannot start Schema Registry after upgrading to 2.0.1"
I have a 2 server kafka cluster (with 4 ZK servers), which I just upgraded to Confluent 2.0.1 on Centos 6.5.

After upgrading, I cannot start the Schema Registry anymore, on both servers it fails with:

[code]

Any idea what is going on here???

[2016-04-26 18:49] Ishiihara commented on #321
@zoltan-fedor What version of the ZkClient did you use?

[2016-04-26 18:55] zoltan-fedor commented on #321
These servers are also Hadoop edge nodes, so they have zookeeper.version=3.4.5-cdh5.3.3--1 installed on them, but they have that for about 2 months now and had no problem until I haven't upgraded to Confluent 2.0.1

[2016-04-26 19:50] zoltan-fedor commented on #321
Possible the client option "rebalance.backoff.ms" could remedy this (see http://mail-archives.apache.org/mod_mbox/kafka-users/201312.mbox/%3CCAFbh0Q38qQ0aAg_cj=jZk-kbi8XWf+1M6XLj+fzf6EEtj9zQAw@mail.gmail.com%3E) - but unfortunately there is no such option to set  in the Schema Registry.

[2016-04-26 20:37] zoltan-fedor commented on #321
It seems the issue was the some of the confluent libraries were not properly upgraded. After removing all and reinstalling, the Schema Registry starts successfully.

[2016-04-26 20:37] #321 closed

[2016-04-27 19:02] MarkMarsh commented on #227
+1

[2016-05-03 00:22] uyjco0 commented on #321
@zoltan-fedor I'm having exactly the same problem that you, but I'm using the latest docker image (https://hub.docker.com/r/confluent/schema-registry):
******************
ERROR Server died unexpectedly:  (io.confluent.kafka.schemaregistry.rest.SchemaRegistryMain:51)
kafka.common.ConsumerRebalanceFailedException: schema-registry-app_sr_1.weave.local-8081_app_sr_1.weave.local-1462234698846-79e03309

[2016-05-03 00:27] uyjco0 commented on #321
One thing more: I'm trying to run a single instance for testing (i.e. 1 host, 1 zookeper server, 1 kafka server, 1 schema-registry and 1 rest-proxy server, all of them in the same host)

[2016-05-03 02:47] zoltan-fedor commented on #321
No, I wasn't using the docker image, I had the comoonents installed directly.
The problem in my case was that some older binaries (for confluent utils, if I recall correctly) were left from previous version and not properly upgraded. After removing those and reinstalling the new version, the problem disappeared.

[2016-05-03 11:34] uyjco0 commented on #321
Mmmh ... then I will test installing the source directly .. thanks!

[2016-05-03 12:21] uyjco0 commented on #321
Yes, using the sources directly is working fine, it appears that there is a problem with the 'official' images, probably something like you are mentioning (mixing older binaries with the new ones). Previously using the same Docker image also I have a problem trying to create a Zookeeper ensemble using weave for the networking, the first started server wasn't able to resolve the name of the second

[2016-05-05 23:32] sngeorge commented on #183
What's the latest confluent development version that can be pulled for Kafka rest proxy - so that the common and rest-utils, schema-registry and kafka-rest gets installed successfully with minimal steps.?
( like 2.0.1 or 2.10-snapshot, master etc)

[2016-05-05 23:46] ewencp commented on #183
@sngeorge 0d4da56be00f8b7d7a028691a994ad83f6b5944b is probably the last commit that you can compile without dev versions of other libraries.

[2016-05-06 00:38] sngeorge commented on #183
I tried that out, but one of the test cases fails while trying to install the schema-registry, could you please let me know if I am missing something here. Thanks.

Versions from pom.xml -
    <properties>
        <jersey.version>2.19</jersey.version>
        <confluent-common.version>2.1.0-SNAPSHOT</confluent-common.version>
        <kafka.version>0.9.0.1-cp1</kafka.version>
        <kafka.scala.

[2016-05-06 00:50] ewencp commented on #183
It's possible that's timing related -- some of the tests run a real ZK + Kafka + Schema Registry setup and if your box isn't beefy enough or is overloaded with other work, they may timeout. You might check the affected test and see if increasing timeouts helps.

[2016-05-06 19:25] sngeorge commented on #183
Thanks much Ewen.

[2016-05-07 18:20] yhilem commented on #220
+1 for JSON Schema support.

[2016-05-09 16:52] #142 closed

[2016-05-11 03:47] ppearcy commented on #250
This issue is a little old, but I wanted to chime in.

1) Would it be possible to include the MD5 / fingerprint as a first class attribute and the ability to lookup a schema via the fingerprint?

2) The version id could still be generated by a master and always incrementing. But at this point, would be too painful to get rid of the schema id identity, although, a new serialization format with diff

[2016-05-11 06:12] ewencp commented on #250
Hey @ppearcy.

Part 1 definitely seems doable, although I'm sure there could be plenty of bikeshedding over what to choose as the hash. If something was included here I'd a) suggest we actually make it explicit in various requests (e.g. if we used md5, it's not just called "fingerprint", but "md5" so we have room for extension/alternatives) and b) we try to make sure it is as well supported across

[2016-05-11 06:15] yushuyao commented on #250
Strongly agree with @ppearcy about 1). One of our use cases has message-level schema for binary messages. We look up the schema (and cache it) when we see each message.

Of course we can include the "schema registry generated ID" in the message, but it becomes complicated when we also want an R&D schema registry in a separate environment.

[2016-05-11 06:38] ewencp commented on #250
@yushuyao I'm not sure how the scenario you are describing differs from how we already handle schemas? Or I guess what scenario you are trying to handle by not including the schema ID?

You mention "message-level schema for binary messages" and that you "look up the schema (and cache it)". This sounds like normal schema registry/serializer behavior.

I *think* what you're getting at re: R&D schema

[2016-05-11 12:07] bcotton commented on #250
I think what @yushuyao is saying about R&D, at least the case we are looking at; schemas are born in R&D and evolve/change faster than production. They initially start with no forward/backward compatibility checking to help with initial development.

We don't want those schemas polluting the production registry.

[2016-05-11 12:14] bcotton commented on #250
@ppearcy, @ewencp Keep in mind what avro thinks is the "fingerprint" of a schema is based on the conical parsing form of the schema, that is the schema with everything "extra" stripped away then normalized. If you encode other metadata in to the schema or use logical types, that data is not included in Avro's fingerprint. This becomes an issue because there may be "changes" to the schema, but the

[2016-05-11 16:14] ppearcy commented on #250
@ewencp Agree would want to call it md5 vs fingerprint, no opinion on hash mechanism other than a +1 for md5.  And you can pretty much ignore point 2). Was mostly commenting that it was a possibility.

@bcotton Yeah, no surprises there.

My use case is different from others. I need to support clients producing data from remote locations from client servers that are not under my control and do not

[2016-05-12 14:29] pmavrodiev commented on #272
I can confirm to have the same problem. So far my workaround has been to not allow null values be recorded in the Avro files.

[2016-05-17 12:50] zohakhan6 opened #324 "not able to build"
Failed to execute goal on project kafka-avro-serializer: Could not resolve dependencies for project io.confluent:kafka-avro-serializer:jar:3.0.0-SNAPSHOT: Could not find artifact org.apache.kafka:kafka_2.11:jar:0.10.0.0-SNAPSHOT in snapshots

[2016-05-17 14:32] miguno commented on #324
You must first build, in the following order:

* https://github.com/confluentinc/common
* https://github.com/confluentinc/rest-utils

[2016-05-18 05:25] zohakhan6 commented on #324
@miguno already build ,still getting issue.

[2016-05-18 05:28] ewencp commented on #324
@zohakhan6

That is the actual problem. Currently this build depends on a SNAPSHOT build of Kafka as well, from the 0.10.0 branch (where the version is currently set at 0.10.0.0-SNAPSHOT. You'll need that build of Kafka as well -- simply checkout Kafka's 0.10.0 branch and run `./gradlew installAll`.

[2016-05-18 06:21] zohakhan6 commented on #324
@ewencp  it workked,thanks

[2016-05-18 06:23] #324 closed

[2016-05-18 08:44] Ronniexie commented on #241
Hi @yushuyao @ewencp
How to run schema-registry and Kafka together?

[2016-05-18 16:07] alexlod commented on #241
Marking this as closed now that https://github.com/confluentinc/schema-registry/pull/319 is merged. This will be in the next Confluent Platform release.

[2016-05-18 16:07] #241 closed

[2016-05-18 16:19] dipeshtech commented on #227
+1

[2016-05-18 18:37] eugenemiretsky opened #330 "Version 2.1.0"
Is Version 2.1.0  going to be released, or has a decision been made to skip to 3.0?

[2016-05-18 18:50] granders commented on #330
Hi @eugenemiretsky, the next version will be 3.0

[2016-05-18 18:50] #330 closed

[2016-05-19 18:14] skukreti opened #331 "[BuildError] Failure to find "org.apache.kafka:kafka_2.11:jar:0.10.1.0-SNAPSHOT" in Maven Repository"
On building schema-registry using, I see the following error:

[code]

From what I understand, the build fails because the Apache Kafka_2.11 0.10.1.0-snapshot is not present in the Maven repository. This breaks the build. Is there a workaround/quickfix to this?

[2016-05-19 18:35] ewencp commented on #331
@skukreti The solution is to install the required depenency to your local maven cache. Checkout Kafka and `./gradlew installAll` (the version you need is currently on `trunk`, the default branch). Note that we regularly depend on snapshot versions of dependencies across our various projects, so you may need to do the same for other repositories as well. For maven repositories, `mvn install` will w

[2016-05-19 18:35] #331 closed

[2016-05-20 10:53] GRpro opened #333 "Add support for new consumer API."
Kafka 0.9 introduced new consumer API which is better in many cases than the old one.
We have to start using new consumer API under the hood.

Since end user of REST proxy does not use consumer directly, we will remove support for old consumer entirely. There is no reason for leaving two implementations.

[2016-05-20 17:38] ewencp commented on #333
@GRpro Did you mean to file this on confluentinc/kafka-rest? #300 already added new consumer support.

[2016-05-21 18:21] GRpro commented on #333
Yes, I mean adding new consumer to confluentinc/kafka-rest.

[2016-05-21 20:01] GRpro commented on #333
I close this issue as invalid here as the changes relates to confluentinc/kafka-rest.

[2016-05-21 20:01] #333 closed

[2016-05-25 11:10] nathan-zhu opened #335 "schema-registry-start server get error"
Hi, I just try use new version confluent platform 3 now, when i start schema-registry service get below
error
[code]
where get wrong for me, please help. thanks

[2016-05-25 16:57] alexlod commented on #335
Hi @nathan-zhu, most likely you haven't configured ZooKeeper correctly in the Schema Registry, or ZooKeeper is down.

[2016-05-26 06:23] gitmahmud opened #338 "SchemaRegistryMain read error"
Hi all. Getting this error repeatedly . zookeeper,server,kafka-rest all are up and running . Is it a bug ??

[2016-05-26 12:21:56,743] ERROR Server died unexpectedly:  (io.confluent.kafka.schemaregistry.rest.SchemaRegistryMain:51)
org.apache.kafka.common.protocol.types.SchemaException: Error reading field 'topic_metadata': Error reading array of size 1204063, only 1426 bytes available
	at org.apac

[2016-05-26 07:08] nathan-zhu commented on #335
@alexlod the default setting not working? i didn't change anything.

[2016-05-27 14:50] mvj3 commented on #338
We meet the same issue too.

[2016-05-27 15:07] mvj3 commented on #338
@gitmahmud we fixed by specify version to 2.0.1.

e.g. in our Dockerfile

[code]

[2016-05-28 03:11] nathan-zhu commented on #335
@alexlod now i make zk cluster.
ip: 10.1.192.32, 10.1.192.31, 10.216.90.255
kafka-server working well, settings like below, other setting get default.
[code]
scheme-registry settings at below:
[code]
when i start schema-registry get error below:

[code]
bw-es-test-p01 is my local server hostname,  i change many times settings for it, but still not working.
the single server start kafka and schema-

[2016-05-28 07:07] gitmahmud commented on #338
Yes, I tried that . Its fine with Docker.Thanks btw.

[2016-05-28 07:08] #338 closed

[2016-05-28 07:08] gitmahmud commented on #338
Yes, I tried that . Its fine with Docker.Thanks btw.

[2016-05-28 08:38] nathan-zhu commented on #335
now it works for me, i just delete all zookeeper data then rebuild them again.
scheme-registry settings lie below：
[code]
kafkastore.connection.url still don't know how to make multi url working, please let me know thanks.

[2016-05-30 08:48] nathan-zhu opened #340 "zookeeper stopped what happen?"
Hi, guys,

i use 3.0 running on test server, 3 zookeeper and 1 kafka server.

test all server working well, but couple days when i check server again, kafka server stopped, zookeeper server disappeared.  i check 3 server for zook all it's stopped. where can get the usefull information for it?

i need to know where is wrong to make it stop. any boy can help? thanks.

[2016-05-30 09:55] miguno opened #341 "Docs: serializer/deserializer example not working"
http://docs.confluent.io/3.0.0/schema-registry/docs/serializer-formatter.html

From kafka-user:

I think the problem is two-fold, and only one aspect (the second one listed below) is a problem in our docs:

1. The user seems to have imported the wrong class. `import org.apache.kafka.clients.consumer.ConsumerConfig;` results in the "class is not public" compile error.  The correct import (as shown

[2016-05-30 10:45] dgonzalez commented on #331
This is also happening to me. Why is the SNAPSHOT being used here and not the -cp?

[2016-05-30 14:03] meetpradeepp commented on #338
Me facing same issue as well with non-confluent based kafka instance. How can I get this fix?

[2016-05-30 14:11] mvj3 commented on #338
@meetpradeepp maybe try use schema-registry:2.0.1

[2016-05-30 14:15] meetpradeepp commented on #338
hello @mvj3, am using confluent-schema-registry.noarch 0:3.0.0-1 on CentOS 7. Should I downgrade?

[2016-05-30 14:21] mvj3 commented on #338
@meetpradeepp I'm not sure. We're still using the old version.

If you want to upgrade to the latest released version, I think you need to make sure every confluent component works with each other well.

[2016-05-30 14:32] meetpradeepp commented on #338
Thank you @mvj3. Let me try with older versions.

[2016-05-30 15:21] meetpradeepp commented on #338
@mvj3 Thank you. I was able to get it working with 2.0.1

[2016-05-30 15:22] mvj3 commented on #338
@meetpradeepp you're welcome~

[2016-05-30 21:22] ewencp commented on #338
To clarify, in Confluent Platform, as with Java Kafka clients in general, we assume the brokers are upgraded *first*. The schema registry uses Kafka internally so you should always make sure your schema registry version is <= corresponding Kafka version in Confluent Platform. (So using the 3.0.0 release requires 0.10.0.0 or greater broker.)

[2016-05-30 21:40] ewencp commented on #340
Generally you would be saving the ZK log4j output somewhere (based on log appenders defined in log4j.properties config). You should check the corresponding logs for errors. If you ran ZK using the scripts provided with Confluent Platform it'll be outputting to stdout by default, so you'll want to check whatever file you redirected that output to when starting ZK.

[2016-05-30 22:42] ewencp commented on #331
This may have been bumped more aggressively than necessary, but it is not uncommon for us to bump to a SNAPSHOT dependency in order to start building against features in the next release of Kafka.

[2016-05-31 09:39] mishadoff opened #342 "Can not build from source"
Building using `mvn clean install` throws an error.

[code]

Any clues where new kafka version is located?

P.S. I changed kafka version to 0.10.0.0 and it builds fine.

[2016-05-31 16:12] ewencp commented on #342
0.10.1.0-SNAPSHOT is the current trunk for Kafka, you can check out that repository and `./gradlew installAll` to install a copy to your local maven repository.

[2016-05-31 16:38] mishadoff commented on #342
@ewencp Thanks. It would be good to add such step to the dev page

[2016-05-31 17:00] #341 closed

[2016-05-31 17:35] alexlod commented on #335
@nathan-zhu, `kafkastore.connection.url` accepts a comma-separated list. A value of `10.216.90.255:2181,<other-zk-node-ip>:2181` should work so long as the <other-zk-node-ip> has ZooKeeper running and is part of the ZooKeeper ensemble. Note that ZooKeeper ensembles require an odd number of nodes, so my two-node example is just an example. You'd actually need three nodes.

[2016-06-01 05:30] xianzhen opened #343 "uncaught exception when get schema verson."
confluent version: 2.0.0
My test steps:
1. create two kafka topics;
2. create two subjects with the same schema string:
  curl -X POST -H "Content-Type: application/vnd.schemaregistry.v1+json" --data @schema.json localhost:8081/subjects/subject1/versions
  curl -X POST -H "Content-Type: application/vnd.schemaregistry.v1+json" --data @schema.json localhost:8081/subjects/subject2/versions
3. create

[2016-06-02 18:23] C0urante opened #345 "Cyclical Avro schemas cause StackOverflowError"
Tried running the kafka-avro-console-producer with the following schema:
`{"type":"record","name":"linked_list","fields":[{"name":"value","type":"long"},{"name":"next","type":["null","linked_list"]}]}`

Got a StackOverflowError:
`java.lang.StackOverflowError
	at java.util.HashMap.hash(HashMap.java:338)
	at java.util.LinkedHashMap.get(LinkedHashMap.java:440)
	at org.apache.avro.JsonProperties.getJs

[2016-06-03 14:28] coughman opened #347 "schema-registry-start script should output synopsis when no arguments is passed in"
If you run schema-registry-start without any arguments, the script will invoke the java main class (SchemaRegistryMain) and immediately exits with error because the properties file is not provided.  Rather than this behavior the script can be improved by printing out the synopsis (help page) instead.

[2016-06-03 15:27] coughman commented on #347
PR #348

[2016-06-04 00:29] chornyi opened #349 "Deserializing to a different version/schema"
What is the best way to deserialize a record to a different schema than the one used by writer? This is for the [compatibility use-cases](http://docs.confluent.io/3.0.0/avro.html#forward-compatibility) where writer's classes are unavailable to the reader. The best I could come up is use `KafkaAvroDeserializer` with `specific.avro.reader = false` and then convert generic records to my target class

[2016-06-09 20:06] Blackbaud-ChrisJenkins commented on #335
I'm running confluent 3.0 (kafka, zookeeper & schema-registry) in a single docker container with monit and have also been seeing this same issue.

We're setting `kafkastore.connection.url` in `schema-registry.properties` dynamically at container start prior to starting up the other services, so an example properties file would be:
`port=8081
kafkastore.topic=_schemas
debug=false
kafkastore.connect

[2016-06-09 21:01] alexlod commented on #335
@Blackbaud-ChrisJenkins do you have security enabled? Can you confirm that the IP address isn't changing?

[2016-06-09 21:44] Blackbaud-ChrisJenkins commented on #335
We have PLAINTEXT & SSL listeners enabled on the broker currently. We are working towards getting SASL/PLAIN setup but have only configured SSL so far. `ssl.client.auth` is set to `none` (have also tried `requested`).

Yes, the IP has been constant.

[2016-06-09 23:43] alexlod commented on #335
@Blackbaud-ChrisJenkins currently Kafka and ZooKeeper SASL aren't supported by the Schema Registry. There's an open PR for this, so hopefully it'll be in for the next release. See https://github.com/confluentinc/schema-registry/pull/350

Anyway, you may be receiving that error because SSL isn't configured correctly, if the Schema Registry is configured to use SSL. Regardless, can you turn on DEBUG

[2016-06-09 23:46] C0urante opened #351 "Logical types could use Schema.getLogicalType() method to perform conversion"
Trying to understand the reasoning behind the usage of the "connect.name" attribute to signal logical types instead of the standard "logicalType" attribute [outlined in the Avro specs](http://avro.apache.org/docs/1.8.1/spec.html#Logical+Types)--it appears to make things more complicated than necessary on the Avro end of things.

[2016-06-10 03:00] Blackbaud-ChrisJenkins commented on #335
@alexlod Yeah, we realize schema registry doesn't support SASL so the plan is to keep the SR nodes on the PLAINTEXT listener for now, and restrict access to that port while other client applications will connect via SASL_SSL (after we've enabled it). I should also mention that this docker image is just being used for local development/testing of our client applications so we are trying to configur

[2016-06-10 04:06] ewencp commented on #238
This looks like a simple permissions issue and is now quite out of date. If this is still an issue, please reopen and explain steps to reproduce against current branches.

[2016-06-10 04:06] #238 closed

[2016-06-10 04:14] ewencp commented on #248
Closing as we haven't heard back with any log info. Please reopen if this is still an issue.

[2016-06-10 04:14] #248 closed

[2016-06-13 02:43] xianzhen commented on #351
I have a problem integrating Hive. HDFS connector use "name" attribute as hive column name too. so, if some filed's type  is timestamp, i have to name this field "timestamp", it can't be any names else. it does not meet the business needs.

[2016-06-13 19:57] ewencp commented on #351
@C0urante Logical types are not guaranteed to match up exactly with the ones defined by Avro. We need a mechanism to track logical type information *regardless* of a corresponding type in Avro.

That said, when they do match up, I agree it would be good to include the `logicalType` attribute. It should be easy to add this support to `AvroConverter` for the few types that we can make match up direc

[2016-06-13 20:26] ewencp commented on #345
What version are you on? I can't reproduce this issue. I ran:

[code]

and entered

[code]

Which worked fine, and validated with

[code]

This is with CP 3.0.0.

[2016-06-13 21:46] C0urante commented on #345
Using CP 3.0.0 as well. Funnily enough, I tried the code samples you supplied and they worked, too. Turns out the error wasn't coming from the console producer. I wrote a JUnit test that should reproduce the problem, though:
[code]
If it matters, I'm using the AvroData converter on its own in order to convert between a schema string stored in the Schema Registry, to an Avro schema, then to a Kafka

[2016-06-13 21:48] C0urante commented on #351
It's understandable that you can't rely completely on the logicalType attribute for conversions. Any support for it would be appreciated.

[2016-06-14 04:05] ewencp commented on #271
This isn't a common problem, and the behavior you're describing is the expected way that schema upgrades would be made. Subjects are a shared resource, so you need to have a mechanism to control who can create new ones. Instead of making that part of the application itself, normally this will be done by controlling what schemas are checked in and deployed. Schema compatibility conflicts will catch

[2016-06-14 04:05] #271 closed

[2016-06-14 04:57] #265 closed

[2016-06-15 19:14] hachikuji commented on #272
I think this should be fixed in 3.0.0. We were previously missing the null check in the nested call to `toConnectData`. Going to go ahead and close this, but feel free to reopen if it is still a problem and I'll take another look.

[2016-06-15 19:14] #272 closed

[2016-06-15 22:17] jdehrlich opened #353 "kafka connect fails to decode fixed properly"
I'm trying to use kafka connect with an avro message that contains a fixed field and it fails with the following message.
[code]

it looks like there is an inconsistency between https://github.com/confluentinc/schema-registry/blob/master/avro-converter/src/main/java/io/confluent/connect/avro/AvroData.java#L104
and https://github.com/confluentinc/schema-registry/blob/master/avro-converter/src/main/

[2016-06-15 22:18] criccomini commented on #353
I think the fix for this might be as simple as adding an else if Fixed block AvroData. @ewencp was this an oversight, or is there some reasoning behind this. It kind of seems like Fixed fields don't work at all for Schema Registry if I understand this bug correctly.

[2016-06-15 23:22] rashmidusane opened #354 "java.lang.AbstractMethodError while sending Avro data to a Kafka topic confluent.3.0"
java.lang.AbstractMethodError: javax.ws.rs.core.UriBuilder.uri(Ljava/lang/String;)Ljavax/ws/rs/core/UriBuilder;
	at javax.ws.rs.core.UriBuilder.fromUri(UriBuilder.java:119)
	at org.glassfish.jersey.servlet.ServletContainer.service(ServletContainer.java:291)
	at org.glassfish.jersey.servlet.ServletContainer.service(ServletContainer.java:221)
	at org.eclipse.jetty.servlet.ServletHolder.handle(Servle

[2016-06-16 00:46] ewencp commented on #354
@rashmidusane This is just the quickstart and we have definitely tested that :) The error indicates that there's some other version of the class `javax.ws.rs.core.UriBuilder` on your classpath. Can you check that you don't have anything besides the CP jars on your classpath when you run the schema registry? One way this could happen is if you've modified your `.bashrc` to include jars for some oth

[2016-06-16 00:50] ewencp commented on #353
Yes, this is an oversight -- Avro unfortunately adds a few "helpful" alternate classes for a few types that need to be handled. `Utf8` is, I think, the major offender since you encounter `String` more frequently than `Fixed`. It should just be a matter of handling `GenericData.Fixed` in addition to `byte[]` and `ByteBuffer`.

[2016-06-16 04:51] yunfengy72 commented on #343
I got the same exception. This issue seriously limits how we could use kafka connect.

[2016-06-16 04:52] yunfengy72 commented on #343
Is there any workaround for this issue?

[2016-06-16 17:00] rashmidusane commented on #354
Thank you very much! It worked. I had another jar in my classpath.

[2016-06-16 20:16] criccomini commented on #353
@jdehrlich, want to send a PR for some karma? :) If not, I can do it.

[2016-06-16 20:45] alexlod commented on #335
@Blackbaud-ChrisJenkins, just to confirm I'm understanding you correctly, you resolved the issue, and the issue was that the SSL Kafka endpoint was being used but SSL wasn't configured. Did I get that right?

[2016-06-16 20:52] Blackbaud-ChrisJenkins commented on #335
@alexlod We resolved the issue by removing the SSL listener since we were only using that as an interim step to moving to SASL_SSL. I would have expected the schema registry to ignore the SSL listener if SSL has not been configured, as it does with SASL* ones since SASL is not supported.

[2016-06-16 20:56] alexlod commented on #335
@Blackbaud-ChrisJenkins you bring up a good point. Currently Kafka endpoints are fetched from ZooKeeper. An alternative could be to allow the schema registry to be configured with both ZooKeeper and a set of Kafka endpoints, where if Kafka endpoints aren't configured, they're fetched from ZooKeeper. That may be more intuitive than silently detecting if SSL is configured (because there are lots of

[2016-06-17 14:18] criccomini commented on #343
We are also experiencing this. I haven't looked into this at all, but it's kind of a show stopper. We have a single tracking event schema, which we share across many topics.

I haven't investigated at all, but my guess is that the registry has a 1:1 mapping between schema ID and topic somewhere, and it's causing only one topic to work.

[2016-06-17 16:46] yunfengy72 commented on #343
I did a quick scan thru the code. Feels like the extra annotations added to the cached schema could be the problem, which would generate a different md5 and cause the schema lookup in registry to fail.

[2016-06-17 19:14] Blackbaud-ChrisJenkins commented on #335
@alexlod makes sense to me.

[2016-06-20 17:51] alexlod commented on #335
Thanks @Blackbaud-ChrisJenkins. I'll add this feature soon and will update this issue when I have a PR.

[2016-06-21 03:27] criccomini commented on #343
Note: Upgrading to 3.0.0 appears to have solved the problem for us.

[2016-06-21 05:21] xianzhen commented on #343
@criccomini @yunfengy72
 Thanks. I debug it and find the problem is that the registry client add an extra field "schema.registry.schema.version" when caching schema. If two topics map to the same schema id, it will be processed like this:
1. Registry cached schema for the first topic, and add an extra field;
2. Registry get schema for the second topic from cache by id.
3. Check Schema version with

[2016-06-21 15:27] criccomini commented on #343
@xianzhen does this problem persist if you upgrade to 3.0.0? There was a commit on a different PR/issue that went into 3.0.0, which I think addressed some of this.

[2016-06-21 23:50] zako commented on #343
We are encountering the same issue mentioned using Confluent v3.0.0. Here is output of the process using the serialization jar in question:
[code]
@criccomini which commit/issue has the fix that you mentioned?

[2016-06-22 14:16] criccomini commented on #353
I think this can be closed now that #355 has been merged

[2016-06-22 17:37] fillest commented on #310
Hello. Any progress, by chance? I've just got the same error on a stock vanilla kafka (not confluent) v. 0.10 (openjdk7, ubuntu 14.04, if that matters) on a server (consumer connects to a kafka server as a bootstrap server on a different host -- on localhost it worked just fine). I've been trying to google this problem and found this ticket - and nothing more.. I have zero experience with java and

[2016-06-22 22:00] fillest commented on #310
I've just managed to solve my problem. The actual error was much earlier in the log - it was thrown only once, then this NoClassDefFoundError nonsense was being thrown again and again. And the actual error was caused by messed up permissions (600 instead of 644) on our /etc/hostname and /etc/hosts.

So, @nathan-zhu try to search for the actual error earlier in your logs

[2016-06-22 23:40] zako commented on #343
The more I investigate about this issue, the more I think this design is fundamentally flawed. The current implementation is associating a schema, given a schema id, with a version. This is not necessarily true because 2 topics can have the same schema but have different versions.

Here is an example:
1. Subject TopicA is created and registers a schema; schema is assigned to id 9 (assumes other no

[2016-06-23 04:01] nathan-zhu commented on #310
@fillest
thanks for help, now i use 3.0 version. working well.

[2016-06-23 05:57] xianzhen commented on #343
@zako Thanks for testing. @criccomini This part of code made me a litter confused. looking forward to the exchange on this matter.I outlined a set of principles:
1. Global id is related to schema defination;
2. Version is related to subject;
Perhaps you should serparate global id and version when doing some cache work. How abount cache schemas like this:
1. Cache schema defination by global id. E.

[2016-06-23 21:55] ewencp commented on #353
Thanks for the reminder @criccomini

[2016-06-23 21:55] #353 closed

[2016-06-23 22:53] zako commented on #343
I think modifying the schema which updates the cache was unintended. It is not obvious that the schema object returned from the schema registry call is cached and could be used elsewhere.

However, I am surprised no one else encountered a similar issue given a simpler use case of 1 topic and 1 schema that evolves because you cannot update an existing JSON property with a new value, see javadoc bel

[2016-06-23 23:18] ewencp commented on #343
Yeah, it is definitely unintended to mess with the cache by doing that addition to the schema. But we want that schema version info available to connectors so they can understand whether schemas are older or newer.

I think the main issue with cloning is the cost. We don't want to have to copy it every time we read a record, so I think we actually need to change the key used in the cache to includ

[2016-06-24 20:28] zako commented on #343
Just so it is known, this is a blocker for our roll out because we do have several topics will have overlapping schemas.

[2016-06-27 04:04] jcustenborder opened #357 "Error message when schema registry is not available is not clear."
This exception was thrown because my client was pointing at an invalid endpoint. If I wasn't familiar with the schema registry I would look think this is an avro error. We should at least call out that it's schema registry and maybe add the endpoint.

[code]

[2016-06-27 16:47] criccomini commented on #343
Looking into this more, this affects us as well, and is blocking our roll out, just like @zako

[2016-06-27 17:09] C0urante commented on #343
@ewencp

I'll get started on a PR for that.

[2016-06-27 21:48] #347 closed

[2016-06-28 20:19] coughman commented on #357
now logs exceptions when sending HTTP requests

[2016-06-28 20:19] #357 closed

[2016-06-29 10:21] Antwnis commented on #239
The avro specifications allow for a *doc* field for documentation purposes. You could use that for any type of metadata

[2016-06-29 15:53] ewencp commented on #239
As @Antwnis points out, the `doc` field is often useful for this. Additionally, the Avro spec says, "Attributes not defined in this document are permitted as metadata, but must not affect the format of serialized data." So you can add extra attributes if you want the metadata to be easily extracted by code as well.

[2016-06-29 15:53] #239 closed

[2016-07-06 18:28] zako commented on #345
We encountered this issue today in Kafka Connect on version 3.0.0. Our data model is similar and contains a self referencing field. I omitted the schema of the data model because, when simplified, it is identical to the linked list example.

Here is the resulting stack trace:
[code]

[2016-07-08 00:02] radekg opened #361 "v3.0.0 build from source"
Trying to build v3.0.0 from sources:

[code]

There seems to be a step missing. Are there any complete instructions available?

[2016-07-08 00:13] radekg commented on #361
Seems like this should be built against a `0.10.0.0-cp1` kafka version. The problem is, there is no such tag in https://github.com/apache/kafka/tags.

[2016-07-08 00:23] ewencp commented on #361
@radekg That is the version released with Confluent Platform. We use a modified version to ensure we don't conflict with the Apache one released to Maven Central. The pom file includes the Confluent repository so it should be finding this in that repository automatically...

[2016-07-08 00:47] radekg commented on #361
Right. So how do I build it myself. Eventually, which version can I use to build myself. Other than snapshot.

[2016-07-08 00:50] radekg commented on #361
I believe I found it: https://github.com/confluentinc/kafka/blob/v3.0.0/gradle.properties. Can I ask what's the reason for not depending on a regular kafka version? Is there a difference between the regular 0.10.0.0 and CP1?

[2016-07-08 01:20] ewencp commented on #361
@radekg I think I see the problem. I checked the schema-registry repository since its filed here, but you're actually having a problem with rest-utils. It seems to be missing this block from its pom:

[code]

and

[code]

The test dependency on Kafka is a change from this release which is probably why it wasn't caught. It has since been fixed by https://github.com/confluentinc/rest-utils/pull/41 (

[2016-07-08 03:30] radekg commented on #361
Somebody should release a patch then. I'd love to avoid having to clone and `installAll` for kafka when I need to build.

[2016-07-08 03:32] radekg opened #362 "Trying to start the v3.0.0 with a 3 node cluster results in a failure"
Here are the details of what is happening:

[code]

Any ideas on what might be happening here?

[2016-07-08 03:35] radekg commented on #362
Describing topics gives me:

[code]

[2016-07-08 07:00] brasslock commented on #28
There is still a related TODO in the code at:
io/confluent/kafka/schemaregistry/avro/AvroUtils.java:33

I am also curious as to why this issue was closed - does the registry not care about canonical form when generating ids for schemas?

[2016-07-08 17:38] ewencp commented on #361
@radekg Not sure I understand, what patch do you want released? The fix I linked to is the fix -- its not in Kafka, it is in rest-utils. Or are you just saying you'd like a tagged version with just that fix?

[2016-07-08 18:38] radekg commented on #361
The instructions should be working. If the pom file is missing stuff, it should be either amended to have the fix in it or there should be a working version released.

I'm going to close this issue as I know I can get my way around it by building forked kafka. Preferably the whole thing should just build against regular kafka version. But maybe it's just me.

[2016-07-08 18:38] #361 closed

[2016-07-08 19:50] wkiser commented on #227
+1

[2016-07-08 20:16] C0urante commented on #345
After consulting the source code for Kafka Connect's [Schema](https://github.com/apache/kafka/blob/trunk/connect/api/src/main/java/org/apache/kafka/connect/data/Schema.java) and [SchemaBuilder](https://github.com/apache/kafka/blob/trunk/connect/api/src/main/java/org/apache/kafka/connect/data/SchemaBuilder.java) classes, it turns out this is really more of a Kafka Connect problem than a Schema Regi

[2016-07-08 20:16] #345 closed

[2016-07-08 20:23] C0urante commented on #345
Welp, looks like I spoke too soon. A fix has been proposed [here](https://github.com/apache/kafka/pull/1582), and if accepted, this issue should definitely be reopened.

[2016-07-09 00:18] alexlod commented on #362
@radekg: is ZooKeeper SASL enabled? And does Kafka have ZooKeeper ACLS enabled? What about Kafka ACLs? Finally, can you look at the `controller.log` and `state-change.log` on each broker and see if you see any warnings or errors in there related to the `_schemas` topic, when it's created?

[2016-07-10 08:02] radekg commented on #362
@alexlod it's a standard zookeeper installation, whatever the defaults are. So I guess no SASL and no ACLs with Kafka. Are there any instructions available for setting the complete thing up outside of the confluent platform?

[2016-07-11 16:28] alexlod opened #366 "The port configured in `listeners` isn't used when registering with ZooKeeper"
When `listeners` is configured, its port is not registered with ZooKeeper. Instead, `port` is registered if it's defined, or the default port value.

[2016-07-11 17:45] alexlod commented on #362
@radekg: the schema registry will work with Apache Kafka. The only issues I can foresee there involves Maven dependencies, but that would have arisen before seeing this exception. Again, seeing the `controller.log` from the controller and `state-change.log` on brokers 0,1,2 is the right next step to debug this.

[2016-07-14 20:49] blbradley commented on #266
This gives me a ton of warnings in IntelliJ. Can it get fixed soon?

[2016-07-15 02:46] blbradley commented on #266
If using SBT, you can specific an empty classifier, and the warnings go away.

[code]

[2016-07-17 14:12] WangshengHu opened #374 "How can I sink some raw data (such as string) in a topic to hdfs? I'm totally a rookie"
Hi, I'd like to sink some raw data (string, delimited by newline character) in a kafka topic to hdfs, but walk through the tutorial I can only sink data as avro format. How can I reach this goal? Thank you for your help!

[2016-07-18 08:53] WangshengHu commented on #374
Well, I'm trying to sink a topic (which is already filled with data from flume) to hdfs but found that the avro format deserializing process keep alarming "Failed to deserialize data to Avro". Is there a way to sink the data of an already existed topic to hdfs? Thanks for helping!

[2016-07-18 08:55] WangshengHu commented on #374
Or is there any Converter type that can deal with simple string format?

[2016-07-18 15:18] wikp opened #375 "Schema validation extensions"
Hello everyone.

We, in our company, are wondering about how does the following conception fit in Schema-registry roadmap and are ready to implement such a feature if it fits well ;)

Currently there is no possibility of validating schemas against validators that are more specific than compatibility checks. Suppose there is an organization which data governance policy requires avro schemas to have

[2016-07-18 16:25] johnhofman opened #376 "ToConnectSchema: Null namespace kills Array of Records conversion"
A missing namespace causes a null-pointer exception when converting an array of records. The following unit test runs the scenario.

[code]

[2016-07-18 18:13] blbradley opened #377 "publish test jars to Maven"
Hello! Thanks for the project and keeping it open source.

I'm interested in using this project's test code in other projects. I already use [scalatest-embedded-kafka](https://github.com/manub/scalatest-embedded-kafka) for integration tests with Kafka and ZooKeeper.

Can the test jars get published to Confluent's Maven repo? Resolving #266 should probably be done at the time.

Cheers!

[2016-07-19 06:35] rkluszczynski opened #380 "Schema deletion"
Hello,
I'm new with this software, but it seams that there is no possibility to delete any schema. This is OK in production mode, but in test or development environment usually we want to have possibility to delete a schema (which has changed during development).

It would be good to have for instance endpoint:

`DELETE /subjects/(string: subject)`

which should delete subject’s schemas. This woul

[2016-07-19 06:40] rkluszczynski opened #381 "Endpoint with schema’s raw JSON"
Hello,
when using **schema-registry** in version 3.0.0, there is no method to get schema as valid JSON in response body. For example this is needed for Hive integration with **schema-registry**. This could be accomplished in two ways.

First would use query parameter to force JSON response.

`GET /subjects/(string: subject)/versions/(versionId: version)?format=json`

Second would be additional end

[2016-07-19 06:44] rkluszczynski opened #382 "Events about changes"
Hello,
when using **schema-registry** we would like to have some kind of notifications which would allow us to know about changes (for instance by triggering Kafka event on some topic). This would allow table’s schema update in _Hive_ when update occurs.

We noticed that interface [StoreUpdateHandler](https://github.com/confluentinc/schema-registry/blob/master/core/src/main/java/io/confluent/kafka

[2016-07-19 10:23] tony-lijinwen opened #383 "The schema-registry does not support the formatted json?"
I am trying to export the data from vertica to kafka, and the record from vertica is formatted, but I found the avro cannot accept the formatted json, the detail info is as blow,

I use the following command to create a topic _test4_,
[code]
But I found this schema can only accept the unformatted json like:
[code]

If I input the formatted json as below,
[code]
It will throw the _org.apache.kafka.

[2016-07-20 00:31] ewencp commented on #376
Fixed by #378

[2016-07-20 00:31] #376 closed

[2016-07-20 01:26] tony-lijinwen commented on #383
I found there is a _**--line-reader**_ option for _kafka-avro-console-producer_, Can I specify the reader to read multiple lines as a json.

[2016-07-20 05:11] ewencp commented on #383
@tony-lijinwen The console producer and consumer are intentionally simple tools. The producer is *purely* line-based, so any line breaks will cause it to treat each line as a separate message. The `--line-reader` option allows you to customize the parsing of each line, but doesn't allow you to handle multiple lines as a single message.

[2016-07-20 09:50] tony-lijinwen commented on #383
@ewencp, Thanks for your quick reply, we will try to use another resolution to resolve it.

[2016-07-20 16:46] #383 closed

[2016-07-21 19:45] phaas opened #385 "Reflection-based avro serialization is not supported"
The `AbstractKafkaAvroSerializer` only handles `SpecificRecord` and `GenericRecord`s. There is no way to send a properly annotated POJO.

I've tried to work around this by using a `NonRecordContainer` with raw avro-byte[]'s, but that is not a supported option either (The serializer will re-encode the byte[]s but send it using the schema of the NonRecordContainer.)

[2016-07-21 19:46] phaas commented on #385
A workaround is to extend the serializer and perform the required encoding:

[code]

[2016-07-25 17:47] alexlod opened #386 "Multiple schema registry instances do not support https"
Currently, if multiple schema registry instances are running, and each is configured with https, the master schema registry will not be able to write to the followers.

The current workaround is to configure each schema registry instance with two listeners, where the first listener is `http`.

[2016-07-25 18:00] alexlod commented on #335
@Blackbaud-ChrisJenkins and @nathan-zhu: I just merged a PR fixing this issue: https://github.com/confluentinc/schema-registry/pull/369

It will be available in the 3.0.1 Confluent Platform release.

Thanks for your patience, and let us know if you hit any other issues.

[2016-07-25 18:00] #335 closed

[2016-07-25 23:09] alexlod commented on #366
This issue is fixed, although in fixing this we discovered another bug, documented here: https://github.com/confluentinc/schema-registry/issues/386

[2016-07-25 23:09] #366 closed

[2016-07-26 04:34] ewencp commented on #374
There is a `StringConverter` included with Kafka for dealing with reading/writing simple strings to Kafka, but that would get 1 string per message. It sounds like you might have multiple lines per message in Kafka? A simple extension of the `StringConverter` would let you use that data.

That step is entirely independent of the HDFS connector. The HDFS connector has a setting `format.class` which

[2016-07-26 14:18] dterror opened #387 "schema-registry-client to support Basic Auth"
As of now, the only `SchemaRegistryClient` implementation (`CachedSchemaRegistryClient`) does not support accessing a registry endpoint that's protected with Basic Auth.

Our current setup is so that we run our schema-registry behind an oAuth proxy with Basic Auth support.

Implementation of this can be many, we could `getUserInfo()` from the URL or we could take `username` and `password` as param

[2016-07-26 16:06] ross-shepherd opened #388 "Issue upgrading to schema-registry 2.0.1"
Hi, we are currently trying to upgrade from schema-registry 1.0.1 to 2.0.1. We see this is working prior to the upgrade with the following versions:
`kafka_2.10 version 0.9.0.2.4.0.0, kafka-avro-serializer version 2.0.1, avro version 1.7.7`

After the upgrade the same requests successful earlier now fail with HTTP 404 errors:
`[2016-07-26 10:11:05,748] INFO  - - [26/Jul/2016:10:11:05 +0000] "POST

[2016-07-26 18:07] ewencp commented on #388
@ross-shepherd The thing that looks different is that the `POST` from the log seems to be going to `//subjects/thing-avro-key/versions` instead of `/subjects/thing-avro-key/versions`, i.e. note the extra `/`. If you adjust your `curl` command, current versions of the schema registry will give a 404.

What `schema.registry.url` setting are you passing to your serializer? It might just need a `/` st

[2016-07-27 13:16] #225 closed

[2016-07-27 14:19] ross-shepherd commented on #388
@ewencp I checked the `schema.registry.url ` and it looks like you are right, the hostname does have an additional slash after it which is causing the double-slash on concatenation. Running the modified CURL command against 1.0.1 actually returns a 200 OK. The same modified CURL against 2.0.1 returns the 404. So it looks like perhaps there was additional validation / logic added between these vers

[2016-07-27 23:45] dollschasingmen opened #389 "KafkaAvroDeserializer NullPointerException when streaming to output"
Currently we are generating SpecificRecord using avrohugger and then trying to publish them in the stream using a avro serde constructed like this:

[code]

called like this

[code]

where asAvroRecord is a `KStream[Array[Byte], Object]`

and this is giving an error

[code]

Looking at the code it seems like maybe the exception refers to the lack of a schema registry? Is there a way to do this w/o

[2016-07-28 01:09] ewencp commented on #388
@ross-shepherd Great, glad we tracked it down. I'm going to close for now, re-open if you find a further issue.

[2016-07-28 01:09] #388 closed

[2016-07-28 10:52] ross-shepherd commented on #388
That fix did the trick - thanks Ewen!

[2016-07-29 02:07] ewencp commented on #389
@dollschasingmen Our Avro serdes only support using the schema registry. Without it, if you just use the bytes produced by serializing the Avro data you are stuck only ever using one schema with the app. It's critical to have some sort of wrapper format that at least allows you to differentiate schemas (even if you're not using the schema registry, it could be your own custom format but you need s

[2016-07-29 13:47] wallin opened #391 "Inconsistent schema compatibility check"
I'm running the schema registry server in backward compatibility mode. Let's say I have a schema registered:

[code]

Now, if I add a field to `test` without a default value specified, the server would correctly report the new schema **as incompatible**:

[code]

However, if I add the same field to `subschema`, the server reports the new schema **as compatible**.

[code]

This doesn't seem right t

[2016-07-29 18:21] dollschasingmen commented on #389
@ewencp thanks for the informative answer. currently we are trying to use specific records and the stubbed out scala case classes for type safety and general ease of use.

would you say that if we were to go with a schema registry (specifically the one in the confluent platform), it means that we should also be using generic records instead? or do you have any examples of how schema registry and s

[2016-07-29 22:36] ewencp commented on #385
@phaas Yeah, this is absolutely something we'd want to support in the serializer. The `ReflectContainer` approach might not even be necessary if we just have a config that makes it use `ReflectDatumWriter` -- I'd imagine most apps want to use only one of (`SpecificRecord`, `GenericRecord`, POJOs).

[2016-08-01 21:11] jcustenborder opened #393 "Records containing union schemas with enums are not handled properly."
A call stack similar to the one below will be encountered. The Avro converter mishandles enums that are contained in a union.

The following schema will reproduce the issue.

[code]

[code]

[2016-08-03 14:34] vasukidileep commented on #227
+1

[2016-08-03 20:48] blbradley commented on #377
My issue should be resolved by #197. How do you use the test classes with Maven and sbt (individually)? Can we get some docs for this?

[2016-08-04 15:27] blbradley commented on #36
I believe this issue is still relevant due to #197. If I try to use `RestApp.start` twice in the same test suite, I get `java.net.BindException: Address already in use`. I am using `RestApp.stop` at the end of the test.

[2016-08-04 16:29] ewencp commented on #36
@blbradley This repo uses `RestApp` in test suites successfully, see https://github.com/confluentinc/schema-registry/blob/master/core/src/test/java/io/confluent/kafka/schemaregistry/ClusterTestHarness.java Is it possible you are using a fixed port and running tests in parallel? That is a common source of `Address already in use` errors. Even without that, you can potentially hit port conflicts sin

[2016-08-04 16:55] blbradley commented on #36
@ewencp

I am using a fixed port and using `parallelExecution in Test := false` in my sbt build file. So, no tests are running in parallel.

Indeed. I get `Address already in use` when calls happen in this order:

[code]

Is this supposed to happen? Shouldn't `RestApp.stop()` unbind the port?

[2016-08-04 17:12] ewencp commented on #36
@blbradley Yes, that should work unless the kernel isn't allowing the port to be used again for some reason. `RestApp.stop()` definitely closes the socket. Although to avoid using a fixed port (which is often error prone since other apps could also rely on that port and we've often found people have accidental conflicts), you can also just choose a port randomly for each test to try to isolate the

[2016-08-04 17:27] blbradley commented on #36
@ewencp I use [scalatest-embedded-kafka](https://github.com/manub/scalatest-embedded-kafka) with no problems. Kafka and Zookeeper are started and stopped for each test within my project. Each on the same port per service per test. So I don't think it is a kernel issue.

[2016-08-04 22:51] dollschasingmen commented on #389
closing this -- got the answers needed at the AMA

[2016-08-04 22:51] #389 closed

[2016-08-08 11:27] koufakis commented on #382
Hello Rafal,

we have a very similar use case, of **sync-ing schemas** between the schema-registry + our other tools (for example Hive that you mentioned).

The schema registry already stores the schemas [in a Kafka topic](http://docs.confluent.io/2.0.1/schema-registry/docs/design.html#kafka-backend). So it looks like that just following that topic for updates covers your usecase !?

I then though

[2016-08-11 23:07] blbradley commented on #36
I have since removed Kafka integration tests from my project. I believe my issue was due to not cleaning up probably after a test fails.

@ewencp Thanks for your quick responses to my issues. Discussion is always appreciated.

[2016-08-12 13:59] MrThomasWagner opened #398 "Make AvroData available via Maave"

[2016-08-12 14:03] #398 closed

[2016-08-12 14:18] MrThomasWagner opened #399 "Maven Repository unavailable?"
I'm working on a Source Task for Avro data in HDFS and am trying to pull in the Avro-KafkaConnect Schema conversion logic found in the AvroData class.  (https://github.com/confluentinc/schema-registry/blob/master/avro-converter/src/main/java/io/confluent/connect/avro/AvroData.java)

I'm using maven so I tried following the instructions at http://docs.confluent.io/1.0.1/installation.html#installati

[2016-08-12 14:35] crumley commented on #353
Awesome this is fixed. It doesn't look like this is available as a patch to 2.0 and didn't make it into 3.0. Is there a plan for releasing fixes like this one?

[2016-08-12 17:28] #399 closed

[2016-08-12 17:44] miguno commented on #399
Just for the record of future readers of this GH issue:  The Confluent maven repository is of course still available at http://packages.confluent.io/maven. :)

[2016-08-16 02:05] ewencp commented on #353
@crumley It's in the `3.0.x` branch, and we'll have an updated release for you soon.

[2016-08-16 12:55] crumley commented on #353
Great news! I look forward to testing it.

[2016-08-22 18:28] cinigo commented on #150
Hi

What about compression? Does Schema Registry writes the attribute (avro.codec) byte?
avro.codec='snappy' or avro.codec=1
E.g. like in
http://kafka.apache.org/documentation.html#messageformat

[2016-08-22 22:55] aalkilani commented on #343
+1

[2016-08-24 03:58] ewencp commented on #150
@cinigo I'm not sure I understand the question. Avro is a serialization format, but it sounds like you're also referring to compression formats? This two are orthogonal (serialization would be applied first, then compression on top of that). In Kafka's message format, there is no flag included that specifies message format -- that is implicit (although it is common to include a magic byte if you u